[2014-11-26 02:34] myagmarsurensedjav opened #2 "How can i use this with Sentry auth system?"
1

[2014-11-26 12:26] #2 closed, assigned to nobody

[2014-11-27 09:39] lorvent opened #3 "can we use different tables?"
Hello,
can we use different tables?

let me explain my situation:

i have mails system and support system in my application,

so can i use this package for both of them?

mail system...use can see his mail, reply to them, write new mail

support system:
user can send support ticket to admin, can see his old tickets
admin can see all tickets sent from users.

I don't know whether your intention to

[2014-11-29 17:07] #3 closed, assigned to nobody

[2014-11-29 17:30] mage95 opened #5 "php artisan error"
Hello this looks cool. But, when i'm trying to use php artisan migrate i got this error

 `[Illuminate\Database\QueryException]
 SQLSTATE[HY000]: General error: 1215 Cannot add foreign key constraint (SQL: alter table`messages`add constraint messages_user_id_foreign foreign key (`user_id`) references`users`(`id`) on update cascade)`

can you help me whats wrong with my installation?

[2014-11-29 18:34] #5 closed, assigned to nobody

[2014-12-03 21:39] JapSeyz opened #6 "Alter the migrations?"
Is it possible to alter the migrations?

Eg. add a softDelete() and another integer row?

[2014-12-04 18:04] #6 closed, assigned to nobody

[2014-12-16 04:13] ddink opened #8 "DB Tables Not Being Found"
My MessagesController is able to query my users table without any issue, however, it won't query the package's tables. I'm receiving a ModelNotFoundException when I try to visit the show function's route ('messages/{id}'). I'm able to insert new rows into the package's tables via the create function and its corresponding view.

![thread](https://cloud.githubusercontent.com/assets/2703920/5448486/e

[2014-12-19 17:03] nmkr opened #9 "Change UserID"
Hello,

maybe you can make an addon where the UserID is configurable..

[2014-12-19 19:41] #8 closed, assigned to nobody

[2014-12-22 23:53] bakerstreetsystems opened #10 "forUserWithNewMessages not working with null values in participant table"
I like this package! Great work! I did notice one thing that didn't quite work for me, and that is when I create a new thread, the forUserWithNewMessages function doesn't work if I compare the 'threads.updated_at' to 'participants.last_read' with a null value.

You might think about changing this:

public function scopeForUserWithNewMessages($query, $userId)
    {
        return $query->join('part

[2014-12-23 18:41] ddink opened #11 "Same Model-DB Issue"
Hey @cmgmyr I'm sorry to bug you again about the same issue, but it seems that even with the Messagable trait correctly spelled within my User model the Laravel-Messenger's models are not being found.

Like last time, I've got the code inside the MesssagesController's __construct, index, create, and store functions working. But the show and update functions aren't working, because the Thread model

[2015-01-05 21:40] #9 closed

[2015-01-05 21:55] cmgmyr commented on #11
@ddink I re-cloned and re-installed your repo and I'm running it fine on my local environment. Are you using the Homestead vagrant box, or something else?

@dawgbone are you using Homestead, or something else? I'm also not seeing this error locally.

[2015-01-05 22:26] dawgbone commented on #11
@cmgmyr Basic WAMP setup. Everything works fine except for the show message part, unless, like I said, I delete the $message->user references), then the message shows, but no user info.

I had to make a couple of changes (my user table is userprofiles), so I could potentially be missing another configuration somewhere, but I can't find it.

[2015-01-05 22:45] ddink commented on #11
@cmgmyr I'm using the Homestead vagrant box setup, but I am developing in Windows. I don't know if that would make a difference.

I'm also using MySQL Workbench to manage my database.

[2015-01-06 17:29] cmgmyr commented on #11
@dawgbone @ddink, have you tried publishing the config file for the package? The `user_model` config defaults to the `User` model, but if you are using a different model, you'll need to publish and update the model reference. If you're using namespaces, you'll need to reference the full namespace (`\Acme\Models\User`)

[2015-01-06 17:50] ddink commented on #11
@cmgmyr I'm using the default `User` model that comes with each Laravel installation, and I've published the package's config file.

[2015-01-06 18:03] cmgmyr commented on #11
@ddink what's the exception that you are getting, `ModelNotFoundException` again?

[2015-01-06 18:24] cmgmyr commented on #10
thank you for this @bakerstreetsystems, I'll have this and a small tweak pushed up soon. Glad you like the package!

[2015-01-06 18:27] #10 closed

[2015-01-06 18:42] ddink commented on #11
@cmgmyr yup. A `ModelNotFoundException` whenever I try to visit the `show` route.

[2015-01-06 18:53] cmgmyr commented on #11
Ok, I think the thread ID that you are trying to access isn't available. Can you do a `composer update` and look at the adjusted example files? I updated the index view and the MessagesController which will now tell you if a thread hasn't been found. Let me know if that fixes the problem

[2015-01-06 20:26] dawgbone commented on #11
@cmgmyr switching my table name from userprofiles to users seems to have fixed the issue I was having. Not sure why that is, the User model was properly referencing my table name.

[2015-01-06 20:43] cmgmyr commented on #11
@dawgbone odd, I'll take a look into that to see what might be happening. Do you happen to have your code in a public repo that I could look at? If not, that's ok.

[2015-01-06 20:44] dawgbone commented on #11
I can post it tomorrow.
On Jan 6, 2015 3:43 PM, "Chris Gmyr" <notifications@github.com> wrote:

[2015-01-07 00:11] cmgmyr commented on #11
@ddink are there messages and participants connected to that thread id?

[2015-01-07 00:31] ddink commented on #11
yup:

![echo-messages](https://cloud.githubusercontent.com/assets/2703920/5638786/42e70ee4-95da-11e4-8811-2186731eb744.JPG)

![echo-participants](https://cloud.githubusercontent.com/assets/2703920/5638769/05ba8ea6-95da-11e4-9517-4f88f32bb9c9.JPG)

[2015-01-07 17:56] cmgmyr commented on #11
@ddink I'm at a loss there. I can't see any reason why it won't work. Have you tried deploying what you have to a server and see if you had the same issue? The only other thing that I can think of is that you have duplicate models [here](https://github.com/ddink/echo/tree/master/app/models) instead of just having the ones in the package. Can you try deleting those and doing a `composer dump-autolo

[2015-01-07 19:23] ddink commented on #11
Darn. Well, I'll give those a suggestions a try and keep you posted. I had those duplicate models and migrations, because at one point my routes weren't working without the models and errors were coming up in the console when I'd run `php artisan migrate --package=cmgmyr/messenger`. But it could be because I've used that same database with other versions of this app.

[2015-01-09 02:45] ddink commented on #11
I got it working! Ok, so here's what I did:

First) I deleted the duplicate models and ran `composer dump-autoload`. Afterwards my app was operating without my duplicate model files.

Second) I deleted the duplication migrations and my database. I created a new database and started with the package's migrations. When I ran `php artisan migrate --package=cmgmyr/messenger`, I encountered an error sa

[2015-01-09 02:45] #11 closed

[2015-01-09 03:08] cmgmyr commented on #11
@ddink thanks for the update, and I'm glad you got it working!

[2015-02-02 19:05] avlastenok opened #13 "L5 support"
Will this package support L5 or only L4 ?

[2015-02-03 03:12] cmgmyr commented on #13
Yes, I plan to make any adjustments needed to support L5. I'm hoping to do this within the next week or so (maybe sooner).

[2015-02-04 10:24] avlastenok commented on #13
Thanks a lot for your answer and looking forward to it, we have been so happy to use your package here.

[2015-02-04 18:45] cmgmyr commented on #13
@avlastenok I just pushed a bunch of updates for L5 which you can find on the [develop](https://github.com/cmgmyr/laravel-messenger/tree/develop) branch, please give it a whirl and let me know how everything works out. I'd like to get some more testers on L5 before I start tagging V2

I'll keep this ticket open for now

[2015-02-04 18:53] avlastenok commented on #13
That really sounds awesome will give it a try later today.

[2015-02-06 17:23] cmgmyr commented on #13
@avlastenok did you get a chance to try it out?

[2015-02-06 22:56] avlastenok commented on #13
Sorry I did mean to but work took up all my time, I will see to it tomorrow when I need to start migrating a project from L4 to L5 which also uses your package so will give some details on how that goes.

[2015-02-07 12:19] cmgmyr commented on #13
@avlastenok, no rush, just checking in :)

[2015-02-08 05:59] Ramir1 opened #14 "Class 'App\User' not found"
On page /messages/{id} get Exception
"Model.php line 833: Class 'App\User' not found"

I changed App-name (artisan app:name)

[2015-02-08 06:04] Ramir1 commented on #14
Sorry! Changed user model name in config/messenger.php

[2015-02-08 06:04] #14 closed

[2015-02-09 21:54] avlastenok commented on #13
So far so good, got it all working as it should just one little thing as of laravel 5 the Form package is no longer in the core so when people try your examples out you might want to just add the fact that they need to pull in the illuminate/html package.
But beside that I have no issues we just successfully migrated to L5 with this included.

[2015-02-09 23:25] cmgmyr commented on #13
Thanks @avlastenok, good idea. I half assumed that most people know that L5 doesn't have the form/html packages anymore, but I guess it's a good idea to make sure. I'll put a note in the readme tomorrow. I'm glad that everything else is working as expected though. If no one else reports any L5 issues, I'll probably tag it V2 by the end of the week, so keep an eye out for that too.

[2015-02-11 07:56] avlastenok commented on #13
Yes i'm sure your right that most people know that by now but someone brand new to laravel might not have that knowledge yet so was more as a helper for them.
Thanks for all your work on this package we really appreciate it.

[2015-02-11 12:06] cmgmyr commented on #13
No problem at all! I'll probably be tagging v2 at some point tomorrow too

[2015-02-11 18:10] Ramir1 opened #15 "How to keep the messages between two users in a single thread?"
How to keep the messages between two users in a single thread?
Is it possible?

[2015-02-12 13:06] cmgmyr commented on #13
just tagged v2

[2015-02-12 13:06] #13 closed

[2015-02-12 13:38] cmgmyr commented on #15
Yes, you can definitely do that.

1. In your `MessagesController@index` method, you'll have to use `$threads = Thread::forUser($currentUserId);` as shown in the [example file](https://github.com/cmgmyr/laravel-messenger/blob/master/src/Cmgmyr/Messenger/examples/MessagesController.php#L38). This will make sure that your users only see the threads that they are participating in.
2. In your `Messages

[2015-02-12 13:38] #15 closed

[2015-02-12 21:46] RokSiEu opened #16 "Best way to notify user?"
Hi,

one question, did you think about implementing "notification" when new message arrives?
If user A and B are chatting then it would be good idea that are somehow notified when new message comes (for example something like twitter/facebook notification).

[2015-02-13 16:13] cmgmyr commented on #16
Hi @RokSiEu, yes I do have an example for new/unread threads. You can take a look at it in the [view file](https://github.com/cmgmyr/laravel-messenger/blob/master/src/Cmgmyr/Messenger/examples/views/messenger/unread-count.blade.php). Is that what you mean? There currently isn't anything built in for a pop up or email notification though.

[2015-02-16 10:20] marco-solare opened #17 "models to json question / how to enhance?"
Hi there Chris, thanks for this great package!
Threw it into my new l5 version of one of my projects and it works like a charm.
I got one general question though:
Is there a generic way to get one or more threads as "flat" json objects that already contain properties like `latestMessage, isUnread, messages, participants`?

The reason I am asking is:
When working with AngularJS one cannot (of cours

[2015-02-16 13:06] cmgmyr commented on #17
Hi @marco-solare, I'm glad you like the package and that it's working out well for you in your project! I'll have to look into how to add those enhancements. I'm traveling until next week, so I won't be able to work on it too much, but I'll jump in more when I get back.

In the meantime, I think you are handing the problem correctly and building up the data you need in your controller. That's what

[2015-02-16 13:17] marco-solare commented on #17
Hi @cmgmyr thanks for the quick reply!
Well, I would _try_ to implement some freaky json method myself for starters, maybe I could contribute some little method.
Just unsure how to go about it - maybe just implementing it in Thread model?

[2015-02-16 13:24] cmgmyr commented on #17
Yeah, that would work on the Thread model. If you want to you can always make a new method and create a Pull Request.

[2015-02-16 13:24] marco-solare commented on #17
alright, I'll look into it tonight. save travel to you

[2015-02-16 16:39] RokSiEu commented on #16
I'm looking for a way to implement real time notifications. That way messaging becomes instant :)

[2015-02-16 17:19] ziming commented on #16
@RoksiEu you may wish to check out something like PubNub or Pusher for this.

[2015-02-18 11:13] HGtronic opened #18 "Getting participants name"
Hello, how to get all the participants names of some thread, want to list their name...
So when someone opens the index page should see from who he has received message...

[2015-02-18 13:09] HGtronic commented on #18
I use this  {!! $thread->participantsString($thread->user) !!}
and the function is
    public function participantsString($user)
    {
        $user = $user ?: \Auth::user()->id;

        $participantNames = \DB::table('users')
            ->join('participants', 'users.id', '=', 'participants.user_id')
            ->where('users.id', '!=', $user)
            ->where('participants.thread_id', $this

[2015-03-02 06:56] dincio opened #19 "private messaging implementation"
hi, how can i implement this for 1 on 1 private messaging for the user?

[2015-03-02 08:42] avlastenok commented on #19
The code should explain it, however all you really need to do is not offer to add more than one recipient.

[2015-03-02 12:40] dincio opened #20 "disable non registered user to comment"
hi how can i disable non registered user to post comment and access the messages?

[2015-03-02 13:09] dincio commented on #15
@cmgmyr im lost in this part "Then in your store method you'll just use the current user id and the toUser as the participants." how to do that?

[2015-03-02 18:50] avlastenok commented on #18
That seems like a lot of work for something you already have by default.
you already have a Message Eloquent model, so why not just make a relationship.
public function user()
{
return $this->belongsTo('Users', 'foreign_key', 'local_key');
}

[2015-03-02 18:54] avlastenok commented on #20
This really has nothing to do with this package, the package should never implement something like that.
With laravel you have your Auth to use for things like that.
http://laravel.com/docs/5.0/authentication

[2015-03-03 09:10] dincio commented on #20
@avlastenok but the modification to make it work between 2 user only is also not part of this package?

[2015-03-03 09:31] avlastenok commented on #20
Actually it is this package delivers a good bunch of tools for you to use as you wish and yes you can make it work out of the box between two users only but that is your job to limit the users to that functionality.

[2015-03-03 10:25] dincio commented on #20
@avlastenok thanks, is there any documentation available for this?

[2015-03-03 15:25] dincio opened #21 "keep the messages between two users in a single thread"
i have seen this on closed question
{Yes, you can definitely do that.

In your MessagesController@index method, you'll have to use $threads = Thread::forUser($currentUserId); as shown in the example file.
This will make sure that your users only see the threads that they are participating in.
In your MessagesController@show method you'll have to do a check in order to see if the current user is a

[2015-03-03 17:19] avlastenok commented on #21
I am sorry but looking at the last few "issues" you have created none of them are issues
and they draw a quite clear picture of your ability's, you really should start by learning how to use Laravel and maybe php in general there are plenty of tutorials and guides on the web, for laravel specific I would suggest laracasts.com

[2015-03-03 18:43] cmgmyr commented on #19
Please take a look at issue #15

[2015-03-03 18:43] #19 closed

[2015-03-03 18:51] cmgmyr commented on #15
This is one way you can do it

    public function store($toUser) {
	// get input

	// save thread

	// save message

	// sender (same as example)
	Participant::create(
	    [
	        'thread_id' => $thread->id,
	        'user_id'   => Auth::user()->id,
	        'last_read' => new Carbon
	    ]
	);

	// recipients (new)
	$thread->addParticipants([$toUser]);

	// redirect
    }

So you are saving

[2015-03-03 18:53] cmgmyr commented on #21
Please see #15

[2015-03-03 18:53] #21 closed

[2015-03-03 18:57] cmgmyr commented on #20
@dincio please take a look at the authentication docs that @avlastenok posted as well as maybe signing up for something like [Laracasts](https://laracasts.com/). As @avlastenok stated, the tasks that you want to accomplish are supposed to be on the application level and not included in this package.

[2015-03-03 18:57] #20 closed

[2015-03-03 19:12] cmgmyr commented on #18
@HGtronic Yes, I think adding the `participantsString` method back in would be helpful. I just have to see what the best way to accomplish this would be. In your example you just have a `users.name`, but it gets more complicated if you have `users.first_name` and `users.last_name`, or have that configurable. I have a few ideas, so I'll work on it.

@avlastenok doing something like that could be an

[2015-03-03 19:18] cmgmyr commented on #16
I'll second what @ziming said about using a service like Pusher. That would be your best option to make it more of a real time experience through your UI. As far as what you can use with the package, you could create some [Model Event Listeners](http://laravel.com/docs/5.0/eloquent#model-events) to see when a thread/message is saved, grab the data, and notify your participants.

[2015-03-03 19:36] ziming opened #22 "Just curious, is laravel-messenger a good fit as a light-weight forum?"
Just curious, is laravel-messenger a good fit as a light-weight forum? Has anyone done it this way (customize it to a forum with basic categories) and how is it?

[2015-03-03 21:02] cmgmyr commented on #22
I'm actually thinking about doing this in a personal project. I don't see why it wouldn't work for a basic forum once you extend it to add in categories. Could work out pretty nicely actually

[2015-03-03 21:09] avlastenok commented on #18
@cmgmyr  actually your totally right I was on the train while writing, and i failed to read his full query and therefor my reply reflected that.
So ignore my comment, as I thought the Op was talking about when viewing the message.

[2015-03-03 21:12] cmgmyr commented on #18
@avlastenok no problem at all :)

[2015-03-04 16:06] opheliadesign commented on #16
I am using Pusher to handle user notifications, combined with Bootstrap Growl (now $.notify JS). Each page in my Members section contains the Javascript to connect to a Pusher Private Channel and respond to message notifications. If the user is not directly viewing the thread for which the notification was created, a Growl appears and their message counter in the navbar flashes and increments. If

[2015-03-04 16:11] opheliadesign opened #23 "Soft deleted Users = Trying to get property of non-object exceptions"
Greetings,

First, love this project - thanks for making it! I did run into a huge roadblock, though. A site I am developing performs soft deletes on users so that their activity on the site is still visible after their login privileges have been revoked (using withTrashed()). I am using laravel-messenger as an internal alternative to email, so I want users to be able to still view messages sent t

[2015-03-04 17:13] opheliadesign commented on #23
I finally got it all working, I pushed the changed models to https://github.com/opheliadesign/laravel-messenger-models. Sorry, not sure how the whole pull request thing works, bit of a Github novice ;)

[2015-03-06 14:56] cmgmyr commented on #16
Sounds like a nice system @opheliadesign!

I'm going to close this as an issue, but feel free to keep the discussion going if you want everyone.

[2015-03-06 14:56] #16 closed

[2015-03-06 15:05] cmgmyr commented on #23
Hi @opheliadesign, I'm glad you like the project and you've been implementing it! I don't think adding the soft-deletes into the package is the best course of action (at least at this point). This would force all users to have them turned on in their model and the additional column in their databases. I think it would be better for you (and others) to extend the models you need to and overwrite th

[2015-03-06 15:05] #23 closed

[2015-03-06 15:06] #22 closed

[2015-03-06 18:12] cmgmyr commented on #18
@HGtronic this is now in place in versions 1.1 and 2.1 (Laravel 4 & 5). Here are some uses:

[code]

Because you are just using `name` in your database table and not `first_name` and `last_name`, you'll have to pass `['name']` as the second parameter. Let me know if you have any questions.

[2015-03-06 18:12] #18 closed

[2015-03-08 15:52] ziming commented on #22
Hmm. In terms of forum packages for Laravel, are there any good recommendations?

[2015-03-16 03:54] 0mattoz commented on #17
I've opened a pull request for this feature.

[2015-03-16 12:27] cmgmyr commented on #17
@0mattoz, thanks again for the PR #24. I left you a longer comment there, but I don't think this is a good fit for the package. The data needed by SPA devs can be vastly different and I don't think this package should be that opinionated. There are multiple ways that you can get the data needed, but I don't think there is a one size fits all solution.

I'm going to close this issue for now, but pl

[2015-03-16 12:27] #17 closed

[2015-04-05 18:38] fligen opened #27 "Issue with deletes"
I'm having and issue querying the soft deleted messages.

I have removed the ->where('participants.deleted_at', null) from scopeForUser with no luck.

Im trying to create a view so a user can see there deleted messages any help would be appreciated.

[2015-04-05 20:16] avlastenok commented on #27
As you left out your code I will assume that you did not read the documentation on laravel.com so to get results containing deleted items you use
withTrashed()
If you only want deleted items you use
onlyTrashed()
You can find more about soft deleting at:
http://laravel.com/docs/5.0/eloquent#soft-deleting

[2015-04-05 23:30] fligen commented on #27
Thank you, I was using withTrashed() but forgot to remove ->where('participants.deleted_at', null) from the line.  Thanks again for your help.

[2015-04-05 23:30] #27 closed

[2015-04-08 20:19] dubcanada opened #28 "Paginate Threads?"
Hello,

Is there any way to Paginate the threads? It seems to return the results with a `->get();` couldn't you just return the query builder and have the user then use `->get(10);` or `->paginate();` etc. That way it is more extendable?

[2015-04-09 13:51] fetch404 commented on #28
Hi there. I know I'm not the person who made the package, but anyway...
This should be possible. I actually planned to try to get this working on my own site. I might make a pull request if I can A: figure out how to make one (I'm not good with Git), and B: get this working without messing everything up. I'll get back to you if I get it working.

[2015-04-09 14:02] dubcanada commented on #28
I have it working by removing the `->get()` and just returning the built query. It will also allow you to add additional stuff to it like where states and limits and stuff if you want.

I'll make a pull request shortly as it appears to be more then just me wanting it.

[2015-04-09 14:52] avlastenok commented on #28
If you want limits and the likes it would seem scopes would be better.
If you want pagination to the results instead of get just replace it with paginate(X);

[2015-04-09 15:09] fetch404 commented on #28
@avlastenok Personally, I think scopes are better for only retrieving certain data, like posts by a user or message threads that have a user as a participant, stuff like that. Scopes should NOT, in my opinion, be used for getting paginated data, since, let's face it, you can just do that in controllers or views.

The main thing I like about this package is that there is so much you can do. On my w

[2015-04-09 16:08] avlastenok commented on #28
Actually you would want to add scopes instead of building querys up in the controller.
But that's beside the point.
If you would want something like this it would need to be made an option and not forced on everyone to use.

[2015-04-09 16:16] cmgmyr commented on #28
Hey everyone, thank you very much for the input. Pagination would definitely be helpful.

My primary concern is the current API and not having to make too many breaking changes, if I can help it. Right now I see two options:

1. remove the `->get()` from the scopes and just return the query
2. add additional methods for pagination like `scopeForUserPaginate($query, $userId, $perPage)`

The problem

[2015-04-09 16:19] tshafer commented on #28
I say number one. Im fine with just using the query and adding what I need. This makes it pretty flexible.

While this is a breaking change, just tag and it and make notes.

[2015-04-09 16:21] cmgmyr commented on #28
Yeah, definitely. I'll be tagging the new release with the change and adding a note along with updating the example files.

[2015-04-09 16:32] dubcanada commented on #28
What is your thought on also removing the

`->latest('updated_at')`

And requiring people add it if they want that? Reason being is if you want to do a `->count()` mysql complains about the order by being ambiguous.

Or maybe make another function without it?

I ended up making 4 new scopes

* scopeForUserWithNewMessages
* scopeForUserWithTrashNoSort
* scopeForUserNoSort
* scopeForUserWithTrash

A

[2015-04-13 14:28] naneri opened #29 "One-to-one facebook style messaging."
How can this be performed? I have went through the methods, but still had to implement my own (i needed to users have only single thread between each other).

[2015-04-13 15:24] ryross commented on #29
You can just create a Thread with one participant instead of many. See:

https://github.com/cmgmyr/laravel-messenger/blob/master/src/Cmgmyr/Messenger/examples/MessagesController.php#L91

[2015-04-13 19:18] cmgmyr commented on #29
That is correct just add the recipient's user id [here](https://github.com/cmgmyr/laravel-messenger/blob/master/src/Cmgmyr/Messenger/examples/MessagesController.php#L121). You'll have to [use this](https://github.com/cmgmyr/laravel-messenger/blob/master/src/Cmgmyr/Messenger/examples/MessagesController.php#L38) in order to only show threads that the current user is a part of.

You'll also have to i

[2015-04-13 19:18] #29 closed

[2015-04-15 12:11] Ramir1 opened #30 "Models should be aware of table prefixes"
[code]
Don't used table prefix.
/cmgmyr/messenger/src/Cmgmyr/Messenger/Models/Thread.php:
-120 $query->where('threads.updated_at', '>', $this->getConnection()->raw('participants.last_read'))
+120 $query->where('threads.updated_at', '>', $this->getConnection()->raw(*$this->getConnection()->getTablePrefix().*'participants.last_read'))

[2015-04-15 14:37] cmgmyr commented on #30
Thank you for reporting this. I'll take a look shortly

[2015-04-15 14:44] cmgmyr commented on #28
yes, I think removing the `->latest('updated_at')` would be ok too. More flexibility would be helpful to most I believe

[2015-04-15 20:00] cmgmyr commented on #30
This has been fixed in the latest release (2.2.1)

[2015-04-15 20:00] #30 closed

[2015-04-16 11:49] cmgmyr commented on #28
These changes have been added to the latest release. Please let me know if anyone has any questions/issues. Thanks again everyone for your feedback and opinions!

[2015-04-16 11:49] #28 closed

[2015-04-23 16:19] slavepens opened #31 "Thread::getAllLatest() method dont work when composer install in laravel 5"
Hi there! the method Thread::getAllLatest() is incomplete when you use composer to install the package:

    public static function getAllLatest()
    {
        return self::latest('updated_at');
    }

the method need ->get(); at the end, also there are other issues like this one in this class at line 70, 103, 124... etc

sorry for my bad english!

[2015-04-23 16:26] cmgmyr commented on #31
You'll need to add the `->get()` or other chains manually. Please see closed issue #28

[2015-04-23 16:26] #31 closed

[2015-04-23 16:37] slavepens commented on #31
Thanks! :D sorry for the inconvenience!

[2015-05-01 14:55] damienIN opened #32 "Searching against created messages."
Is there any kind of searching implementation in this so that a user can search against their messages?

[2015-05-03 00:20] UnrulyNatives opened #33 "L5 name in 'user' table"
I'd suggest to modify the VIEW files to comply with standard user table in L5.
It containts 'name' column for user names. 'first_name' and 'last_name' should be optional and for reference only.

I can take the trouble to do the changes if you confirm here that my pull request would be accepted.

[2015-05-03 00:33] UnrulyNatives opened #34 "sending a message logs me into account assigned to users.id = 1"
As in title.

I use newest Laravel 5 with these mods:
- i changed last_name and first_name in your app into 'name', to make your package compatible with L5
- my main admin account is not id = 1 - for security reasons

[2015-05-03 00:47] kfrankperson commented on #34
You need to use your own authentication system as the comment on the construct in the example controller says.

https://github.com/cmgmyr/laravel-messenger/blob/master/src/Cmgmyr/Messenger/examples/MessagesController.php#L15

[2015-05-03 01:13] UnrulyNatives opened #36 "Feature proposal"
As Admin of my project I'd be happy to send a message not to particular users, but to say... all users with role 'Moderator'.

In my case I use this package: https://github.com/romanbican/roles

Is there any way the feature can be done from your package side?

[2015-05-03 02:45] #34 closed

[2015-05-03 02:46] UnrulyNatives commented on #34
The error was unrelated to your package. Sorry.

[2015-05-03 19:55] fetch404 commented on #32
Hello,

As far as I know, there is no search functionality included. You would have to program this yourself, but it should not be that hard. Just have a basic search controller, then have users search by subject, do a database query, filter the stuff, render it, and you're done.

[2015-05-04 11:20] cmgmyr commented on #32
Correct, there aren't any specific search options built in, but you can just extend the query methods/scopes to include different search options.

[2015-05-04 11:20] #32 closed

[2015-05-04 12:27] kfrankperson commented on #36
I don't think it is worth adding as it would add another layer of complexity and everyone has their own method of authentication and roles.

[2015-05-04 12:29] kfrankperson commented on #33
:+1: First and last name should be removed and the default laravel users table should be used, makes installing the package a lot easier for new projects.

[2015-05-04 13:18] avlastenok commented on #36
That Would be really easy to do by you.
It does not belong on a package to do something through another package the idea seems silly.
You can find a list of people with a certain role through User::role('moderator')->get() there you get all their info the rest should be quite straight forward.

[2015-05-04 15:23] cmgmyr commented on #36
I agree with the last 2 comments. This does not belong in the package, but can be easily added on in the parent app

[2015-05-04 15:23] #36 closed

[2015-05-05 11:24] cmgmyr commented on #33
Thanks for the suggestion. This has been updated in the latest `2.4` release

[2015-05-05 11:24] #33 closed

[2015-05-15 07:54] SuperlativeEntity opened #37 "Sentry Issue"
Hi

I use Sentry and on Thread.php on +- line 221 it refers to:
$userNames = $participantNames->lists('users.name');

However, my user table uses first_name.

How would I get around this?
Can this perhaps be added to the config file if it needs to be overwritten?

[2015-05-15 08:24] SuperlativeEntity commented on #37
I found that I can pass the column names

[2015-05-15 08:24] #37 closed

[2015-05-26 21:26] thehamsterofgod opened #38 "How to get the creator of thread?"
I tried this:
[code]
it works but is there a better way to get the creator of thread? something specific?

[2015-05-26 23:02] cmgmyr commented on #38
Unfortunately that's the only option at the moment. I can see where this could be helpful though. I'll add a helper method that will make this a little easier. Something like `$thread->creator()` or something.

[2015-05-27 08:15] thehamsterofgod commented on #38
Thanks that would be very useful and neat :+1:

[2015-05-27 13:13] askaoru opened #39 "Add column name to the config instead of hard-coding it into the package src"
I think that for something that is not included in the package itself and might be different for each people that uses this package should be easily customized via config. For example in my case, I do not have name column in my users table, i have instead a username column.

Sure it can be changed easily in the source but it would get overwritten each time the package got updated.

[2015-05-27 14:14] cmgmyr commented on #39
Sorry, I'm not sure what you mean. For `$thread->participantsString()` you can assign your own columns if `name` doesn't work for you. So something like this: `$thread->participantsString($userId, ['username'])` or `$thread->participantsString($userId, ['first_name', 'last_name'])`.

Does that help?

[2015-05-27 14:27] askaoru commented on #39
Yep, that's how I did it too. But then the next time the package got updated, it will be overwritten back to original value. So i think it'll be nicer to add it to config into something like this

    <?php
    return [
        // Define your application user model
        'user_model' => 'App\User',

        // Database column that defines your users identity
        // Example: 'name', 'username

[2015-05-27 14:34] cmgmyr commented on #39
What would be overwritten? The use of `$thread->participantsString()` would be in your controller or views which wouldn't be overwritten if you updated the package.

[2015-05-27 14:35] avlastenok commented on #39
I think your a bit off on this, Chris is not telling you to edit his package but rather your view file as
Composer will not update your view files, so just update the line with:
{!! $thread->participantsString(Auth::id()) !!}
and make it something like:
{!! $thread->participantsString(Auth::id(), ['username']) !!}
if it was username you had instead of name.
If this still comes with an error go int

[2015-05-27 14:45] askaoru commented on #39
Ah alright.. i guess I've been looking around the wrong files.. Still quite a newbie here.. Thanks for your time and your great package @cmgmyr , and also @avlastenok for clearing things up. You may close this issue.

[2015-05-27 14:47] cmgmyr commented on #39
No problem at all! Thanks for using the package and I'm glad you like it. If you have any other questions just let me know.

[2015-05-27 14:47] #39 closed

[2015-05-30 09:32] JuliaSivartsson opened #40 "Soft-delete just for one user"
When I delete a message as a user, it gets deleted for all the participants. Is there a way to change this so that it just gets deleted for the user who pressed 'delete' or do I have to change the whole table structure for this?

[2015-06-01 19:01] cmgmyr commented on #40
Thanks for posting this. I'll look into it

[2015-06-01 19:01] #38 closed

[2015-06-02 13:18] esseremmerik commented on #40
Great, would love to see this feature too. Perhaps we will add this and give you a pull request so you can see if it fits in your vision for the package as well!

[2015-06-04 17:08] Kryptonit3 commented on #40
This would require a bit of logic.

When user deletes message (Thread) from inbox, should they get a new message or reinstated into the Thread if a new reply is made? should they get the entire message back or just the new messages? Can users delete individual messages (Message) from a Thread?

A bit to think about.

[2015-06-04 18:34] Kryptonit3 commented on #40
Just add a deleted boolean to participants table default false. User deletes thread, update to true. If new reply reset to false.

[2015-06-08 00:56] Kryptonit3 opened #42 "Laravel 5.1"
for laravel 5.1 you will need to make the following change to `Messagable.php`

find
[code]

replace with
[code]

When using `lists` in 5.1, an object (collection) is returned. Your logic calls for an array so to make data an array `all()` must be added after `lists()`

[source](http://laravel.com/docs/master/upgrade)

[2015-06-09 16:26] opheliadesign commented on #42
Need fix for this ASAP, using this package throughout a project and this is breaking it.

[2015-06-09 16:31] Kryptonit3 commented on #42
@opheliadesign did my changes not fix it for you? Fork this and change them and install your fork repo until it is fixed.

[2015-06-09 16:34] cmgmyr commented on #42
I'll be working on this shortly

[2015-06-09 18:28] cmgmyr commented on #42
Ok, we should be in good shape now. Please update to the latest `2.5.1` release and let me know if anyone has any issues. The update will work with 5.0 and 5.1+

[2015-06-09 18:28] #42 closed

[2015-06-15 11:12] FrankDupree opened #43 "thread hijacking"
hi, first things first, your package is awesome!! don't know if i did something wrong, but i noticed that a user who wasn't invited to a thread can join once she adds the thread id manually. lets say the user is on http://localhost:8000/messages/7..the user also has access to http://localhost:8000/messages/8 thereby inviting themselves in and is able to send a message which automatically adds the

[2015-06-15 19:30] cmgmyr commented on #43
Hey Frank, I'm glad you like the package! This package was actually designed that way. Since it can be used in multiple ways (open forum, group messages, and private messages) I didn't want to limit it in any way. The potential drawback of this is that the developer is responsible for choosing how to use it and implement the best practices around that option.

So in an open forum, all users would

[2015-06-16 10:09] askaoru commented on #43
In case you are wondering how you could restrict a non-participant from inviting themself, here's an example of how i did it. Probably not the best way but it works for me.
This is in your controller.

    /**
     * Shows a message thread
     *
     * @param $id
     * @return mixed
     */
    public function show($id)
    {
        try {
            $thread = Thread::findOrFail($id);
        }

[2015-06-16 11:40] a-komarev commented on #43
@askaoru Thanks for sharing a solution for it!

[2015-06-16 12:15] FrankDupree commented on #43
@cmgmyr tnx for the insights, well said..@askaoru just what i needed, you saved me the stress of cooking one up myself, you the man! tnx :+1:

[2015-06-16 13:05] cmgmyr commented on #43
Would something like a `$thread->hasParticipant($userId)` be helpful for this sort of thing?

That way, it makes @askaoru's solution a little cleaner...

[code]

[2015-06-16 13:23] FrankDupree commented on #43
@cmgmyr yeah it does, nice one man.

[2015-06-16 13:25] cmgmyr commented on #43
Cool, I'll get that implemented today

[2015-06-16 13:47] askaoru commented on #43
Perfect. That could be used in a lot of places. Thanks @cmgmyr ! :+1:

[2015-06-16 18:09] a-komarev commented on #43
@cmgmyr thanks! Very useful function.

[2015-06-17 01:10] cmgmyr commented on #43
This is now in the latest `2.6` release.

[2015-06-17 01:10] #43 closed

[2015-06-19 15:16] Aryess opened #44 "Cannot use if users don't have a name attribute"
Hi,

To make it short, my users don't have a name field, but two fields (first + last names). Even with an alias in the model (getNameAttribute) it doesn't work as laravel seems to be looking for it directly in the database (`SQLSTATE[42S22]: Column not found: 1054 Unknown column 'users.name' in 'field list' `)
I think it should either have an interface on Messagable, or allow to choose another on

[2015-06-19 15:24] cmgmyr commented on #44
Hey,
You can override the default method variable here - https://github.com/cmgmyr/laravel-messenger/blob/master/src/Cmgmyr/Messenger/Models/Thread.php#L218 buy doing something like this: `$thread->participantsString(null, ['first_name', 'last_name'])`. This was changed in #33 to match up with Laravel's default user table structure. I use `first_name` and `last_name` myself. Please let me know if

[2015-06-19 15:24] #44 closed

[2015-06-19 15:50] Aryess commented on #44
Perfect thanks :thumbsup:

[2015-06-30 10:58] Aryess opened #46 "Find thread by multiple users"
Hi,
Is there a clean way to find the threads involving multiple users? Like, when Bob is logged in, find and the threads with Bob and Alice in it?
At the moment I could do something like Thread::forUser($id_bob)->whereIn('threads.id',  Thread::forUser($id_alice)->select('id')->get());  but that's very ugly  and pretty far from optimal. Is there a built-in function for that, or do I have to write m

[2015-07-01 16:34] Aryess commented on #46
If anyone else is looking for that:
[code]
will give you the thread ids.

[2015-07-01 16:34] #46 closed

[2015-07-03 22:41] maximl337 commented on #40
The way I solved this problem ( not a perfect solution ) is to make a pivot table `archived_messages` that contains `user_id`, `message_id`. then in Message model $this->belongsToMany('App\User', 'archived_messages'); and in User Model $this->belongsToMany('App\Message', 'archived_messages'), then on delete: App\Message::findOrFail($id)->archived_message()->attach($user_id); what do u guys think?

[2015-07-07 19:18] alexeitav opened #47 "Send message to all users"
Hello there,

Is there a way to send a message to all users on the system, without the need to select one by one?
Thanks in advance.

Alexei

[2015-07-07 21:58] FrankDupree commented on #47
When looping through all the users, enable the check property in the checkbox to true check="checked", then you could also go ahead and set the visibility to hidden. That way, you don't display all the users and thier check boxes checked in the browser.

[2015-07-08 00:26] cmgmyr commented on #47
There isn't a message all users function right now. However, you could just use the `$thread->addParticipants()` method and add all user id's to that. Just get all of the user id's from the database, then pass it into that function as an array.

I'm assuming that this would be more of an admin function, so I would probably create an admin only route/method that would do this automatically. That wa

[2015-07-08 00:26] #47 closed

[2015-07-12 14:15] RaoulDijksman opened #49 "Too much logic in the models and controllers."
Hey guys,

I would like to make a pull request to move out a lot of the logic in the models. I recommand a more SOA/DDD approach:

**Models:** I think that the model should represent an entity. With Laravel, I only use the model class to add things like `fillable`, `guarded`, `table` and the relations. (If the Repository Pattern isn't used,  the model would also have the save, update, find, etc me

[2015-07-12 16:30] override-chaos commented on #49
:+1: This gets my vote !

[2015-07-13 09:00] caseylouisee opened #50 "Viewing messages that you aren't participating in"
I have looked through the code and am using it in my current project but am yet to find a method that blocks a user from seeing other people's messages, if they are not in the thread participants list. I can probably create something myself but as a message system I feel this should be implemented at the start.

[2015-07-13 09:06] #50 closed

[2015-07-13 09:06] caseylouisee commented on #50
This is my error, plenty of methods exist throughout the program to enable this feature. Apologies to the creator!

[2015-07-13 09:10] FrankDupree commented on #50
lol

[2015-07-13 09:46] caseylouisee commented on #50
also apologies for the repeated issue post as I haven't really used github before I didn't know how to view the closed issues! All is fixed now and thanks for the great messaging package!

[2015-07-13 09:57] FrankDupree commented on #50
its understandable, good luck with what it is you working on.

[2015-07-13 11:49] cmgmyr commented on #49
Yes, I have toyed around with this and I would personally like this a lot better. The original idea of this package was to just keep it simple, open, and as easy to use in Laravel as possible. New users look to controllers and models to see what's going on and might get confused with more abstraction. I'm hesitant to make this package more abstracted and much less "simple".

So with that, in my mi

[2015-07-13 11:57] avlastenok commented on #49
my vote is on option 1, people should learn not to put all the logic in the models and it's not too hard to look through the code anyway they should know that they have it all available under the vendor folder.

[2015-07-13 12:02] override-chaos commented on #49
I would go with option 1, but create a new version with the new improvements (2.x.x) and leave the old version there as legacy (1.x.x) just support bug fixes.

This way people can use the old "easier" method or the newer version package.

[2015-07-13 12:58] RaoulDijksman commented on #49
I would go with option 1. I agree that this package needs to remain simple. But i believe by adding a service class it will become a simpler.
@override-chaos Isn't this package already at 2.x? Lets make this a 3.x version branch.

[2015-07-13 13:26] cmgmyr commented on #49
Ok, let's move forward with option 1. What about branching from the current master to a v2 branch, and keeping this new v3 version on master (develop branch initially)?

[2015-07-13 13:57] RaoulDijksman commented on #49
@cmgmyr Sounds great .

So this is how i see it:
Thread is the aggregate. This means the first step for an app would be to get a thread object(s).
`$threads = $messenger->getAllTreadsForUser()`
`$threads = $messenger->getThreadsBetweenUsers()`

All methods are called on thread objects.
`$thread->sendMessage()`
`$thread->addParticipant()`

This is a very OOP way of handling it. What do you think?

[2015-07-13 17:10] RaoulDijksman commented on #49
The functions that are requiered as entry point that i can think of are:
[code]

[2015-07-14 04:12] cmgmyr opened #51 "API Planning"
This is to discuss the basics of the new API and classes at a high level. Class/method/pseudo code examples would also be helpful. We got a start in #49, but let's continue here. I'll put an initial gist together and update this shortly.

[2015-07-14 04:14] cmgmyr commented on #49
Thanks everyone, I'm just doing some housecleaning right now. `v2` and `develop` branches have been made. Also added a milestone for `v3` to better track the changes that need to be done. I'm going to close this issue in favor of #51. I'll add everything into that issue shortly. Thanks for all of the input so far!

[2015-07-14 04:14] #49 closed

[2015-07-14 09:22] RaoulDijksman commented on #51
I've made a little gist of the possible APIs. Ofcourse this is only a gist and doesn't have tests.

[2015-07-14 13:37] cmgmyr commented on #51
Looks good so far! I don't know why GH duplicated it 3 times, that's weird. I've duplicated this code on my machine and made a few small changes. I'll play with it a little more before I push anything up. Hopefully I'll get to that today. Thanks for the help so far!

[2015-07-14 13:39] cmgmyr opened #52 "Update V3 Documentation/Readme"
Once V3 is more stable, we'll have to update the documentation

[2015-07-14 13:39] cmgmyr opened #53 "Add V3 example code"
Once V3 is more stable, we'll have to add some example code

[2015-07-16 13:10] tigia opened #54 "SQLSTATE[42S22]"
this is my error
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'users.name' in 'field list' (SQL: select concat(users.name) as name from `users` inner join `participants` on `users`.`id` = `participants`.`user_id` where `participants`.`thread_id` = 1 and `users`.`id` != 1) (View: ********************/app/views/messenger/index.blade.php)

have you any idea?

[2015-07-16 13:30] cmgmyr commented on #54
You'll have to specify the user's name columns if you aren't using `name`, which is just a default for Laravel. Please check out #44

[2015-07-16 13:30] #54 closed

[2015-07-16 18:04] cmgmyr opened #55 "How are you using laravel-messenger?"
Please leave a comment explaining how you are using this package. How many users are you supporting? What type of features have you had to implement to extend the base functionality of this package?

_*If you have any issues, please open up a new ticket. Please keep this thread for feedback only. Thanks!_

[2015-07-20 19:39] niknetniko opened #56 "[Request] Simple function to send message programmatically"
(Perhaps there is a way to do this, but I haven't found one yet)

I think there should be a simple way to send a message to one or more users. This could be something like this:
[code]
I know the `Message` class is used already, so maybe we could go with something like `MessageSender` or similar.

However, the important part is this: I would really find it handy to not have to deal with Threads, P

[2015-07-20 19:46] cmgmyr commented on #56
Thank you for the request. A V3 of this package is currently in the works now and will take care of a lot of this. At this point I don't have an ETA, but there are a bunch of Issues with the V3 tag if you want to keep track of where I am. I'll note your code in the planning ticket.

ref #51

[2015-07-20 19:46] #56 closed

[2015-07-20 19:49] niknetniko opened #57 "[Bug] PostgreSQL syntax error"
When using a PostgreSQL database, there are some migrations that fail. This affects the following migrations:
* add_nullable_to_last_read_in_participants_table.php
* alter_last_read_in_participants_table.php

For example, when the first one is run, following error is thrown in the console:
[code]

I am using the latest stable version of both Laravel and this package. The PostgreSQL version I use i

[2015-07-20 19:51] niknetniko commented on #56
OK, thank you a lot.

[2015-07-20 19:58] cmgmyr commented on #57
Thanks for reporting, I'll take a look

[2015-07-29 07:53] mrgwilliam commented on #55
Implementing it for a Unit Manager internal messaging system. We aim to support at most 150+ users. Currently only using base functionality. I'll update I add anything more. Thanks for this awesome package!

[2015-07-30 03:33] ssnukala opened #58 "Ajax page refresh ?"
Thanks for the package. I am new to Laravel, I followed all the instructions and enabled this chat, it works.

But when i am in chat, i have to manually refresh my page to see the updated chat, is there a ajax refresh that I am not aware of or is that not a feature yet ?

[2015-07-30 06:29] nuukcillo commented on #55
We are using it for the same that mrgwilliam, but we are also implementating a notification system with other parts of the site. We have around 500 users in the site but the messenger is still in beta.

[2015-07-30 13:30] cmgmyr commented on #58
Thanks for using the package! Unfortunately this package will not handle anything to do with the front end of your app, that part will have to be up to you. I have a demo (work in progress) with Pusher [here](https://github.com/cmgmyr/laravel-messenger-pusher-demo) that you can check out to help out with this process. There are many other ways to accomplish this though. If you have any other quest

[2015-07-30 13:30] #58 closed

[2015-08-03 01:34] mrgwilliam commented on #57
Same issue here, it would appear since this is a direct SQL statement instead of table() type migration, when it is run on PostgreSQL it will fail.

[2015-08-03 14:24] uusa35 opened #60 "vendor:publish"
after composer update

php artisan vendor:publish --provider="Cmgmyr\Messenger\MessengerServiceProvider"

it gives nothing to publish ??

any ideas please ? !

[2015-08-03 17:40] cmgmyr commented on #60
what's the specific version of Laravel that you have installed?

[2015-08-03 20:08] uusa35 commented on #60
Laravel Ltd 5.1

[2015-08-03 20:09] uusa35 commented on #60
Lts*

[2015-08-03 20:11] cmgmyr commented on #60
Ok thanks, do you know what the patch release is too? The full version will be in your `composer.lock` file (5.1.x). Also what OS are you running?

[2015-08-04 04:09] uusa35 commented on #60
vagrant@homestead:~/code/projects/ebook$ php artisan vendor:publish --provider="Cmgmyr\Messenger\MessengerServiceProvider" --force
Nothing to publish for tag [].

this messages always appears without any copying for migration files or messenger.php

Laravel Framework version 5.1.8 (LTS)

[2015-08-04 21:15] cmgmyr commented on #60
Looks like you still need to add `Cmgmyr\Messenger\MessengerServiceProvider::class,` in your `config/app.php` file in the `providers` array. Once that is in there you can try the same `vendor:publish` command

[2015-08-04 21:15] #60 closed

[2015-08-05 04:15] uusa35 commented on #60
i thank you for your concern
i have fixed your package manually and it's working perfect.
thank you for your effort and ur time.

[2015-08-06 22:35] paulocastellano opened #61 "One to one messaging (private or direct thread)"
Hi,

I trying make chat for my app and, you said i can use one-to-one message, i see should all the code but i don't found who i can make this.

I trying make chat one-to-one, like facebook chat. Without subject, only direct chat.

You can post a example?

Thanks!

[2015-08-07 04:37] avlastenok commented on #61
All the backend is there the only thing that you really have to make is the front end.
If that is too much I'd suggest that you start some courses on laravel or php in general a Google search will give you something to get started.

[2015-08-07 10:56] cmgmyr commented on #61
Please also check out closed issue #29 for some additional information

[2015-08-07 10:56] #61 closed

[2015-08-09 16:11] Pandahisham commented on #55
we are implementing it in an in-school network , however , having seen laravel 5.1 shouldbroadcast , we are thinking about using socket.io to build a realtime messaging platform , have you given any thought about this ? there's a package called 'confer' that already does this but with pusher

[2015-08-11 02:51] lorvent commented on #40
will this issue addressed in V3?

[2015-08-12 21:03] dtirer opened #62 "Issue with forUserWithNewMessages()"
I'm having a bit of an issue with this method.  What i'm finding is this:

lets say you have a conversation between two people.

A sends message to B
B sends Message to A
A sends message to B
B sends Message to A
A sends message to B
B sends Message to A
....

This will create seven Participant records (one extra for the initial creation, which makes a Participant for each User involved).

However

[2015-08-12 21:17] dtirer commented on #62
Actually, I just solved this.  The issue was in the `update()` query where it does `firstOrCreate()`.  My code had an extra attribute, and therefore, was never finding the `first`.  And then it just continued to create participant records with each message.

I thought it was a strange design choice :)

[2015-08-12 21:17] #62 closed

[2015-08-12 21:19] cmgmyr commented on #62
glad everything worked out. just let me know if you have any issues/questions in the future. thanks for using the package!

[2015-08-13 07:43] mydnic commented on #55
We are using it as a facebook-like private message system in a community website.
Thanks for this package !

[2015-08-13 14:21] cmgmyr commented on #55
Thank you all for the great feedback so far!

@Pandahisham in the new version I'm planning on using events, so you'll be able to hook into those pretty easily. You'll still have to handle the front end processing on your own. I don't think it makes sense (at least at this time) to do anything with Pusher, or other services, inside this package

[2015-08-13 14:56] Pandahisham commented on #55
yap ! we will handle the frontend ourselfves , just give us a well documented package with hints to how it may work with say pusher or socket.io , leave the rest to us

[2015-08-13 18:28] lstables opened #63 "Getting latest results"
Using the following method form the example:

[code]

I can't get the messages to show in latest order:

![](http://cl.ly/image/41310p1S2b3p/download/Screen%20Shot%202015-08-13%20at%2019.26.02.png) Need the latest time to show first rather than last. How can I achieve this?

[2015-08-13 18:51] cmgmyr commented on #63
No problem, in your view you can replace [this](https://github.com/cmgmyr/laravel-messenger/blob/master/src/Cmgmyr/Messenger/examples/views/messenger/show.blade.php#L7) with...

[code]

Since the thread's messages is just a raw relationship, you can do anything that you want with it. If you didn't want this in the view, you could always do this in the controller and just pass through the messages.

[2015-08-13 18:51] #63 closed

[2015-08-13 18:53] lstables commented on #63
Awesome thanks Chris I knew there'd be a work around easy way, just couldn't figure it out!! Thanks again man.

[2015-08-13 18:54] cmgmyr commented on #63
:+1:

[2015-08-13 23:01] LonnyX opened #64 "Issue with different table name or columns name"
Hello,

I am including this package into my project but I have to modify a lot of things before it works... Because my users table is not in English and even my columns...

I think it will be a better way to place these data on the config file no?

[2015-08-14 04:43] avlastenok commented on #64
You know what, the funny thing here is...
It is placed in a configure file.
As it is with laravel packages you need to publish the config with artisan command.

[2015-08-14 08:45] LonnyX commented on #64
All what I see on config it is the Users Model location. I'm talking about table name and column name that you hard-coded on the source (Thread.php etc...)

[2015-08-14 11:05] avlastenok commented on #64
You can overwrite it that is also quite easy to see if you look at the source but take a look at #39 that should clear things up for you.

[2015-08-14 11:20] LonnyX commented on #64
Yes I know, I edited and it works perfectly but I think it will be better to include it on the source for these who don't know.

PW: I am using the example controller and I see that every message is visible for everyone not only for the participants... I think I have to use scopeForUser instead of getAllLatest method but not sure what to give on first paramter.

[2015-08-14 11:58] avlastenok commented on #64
From the example file controller
$threads = Thread::forUser($currentUserId)->latest('updated_at')->get();
Where currentUserId is the logged in user

[2015-08-14 12:23] LonnyX commented on #64
Cool it works :+1:

[2015-08-14 12:30] #64 closed

[2015-08-22 00:42] lorvent opened #65 "how to differentiate sender and receiver"
Hi,

How can i differentiate who is the sender and receiver?

is there any direct way?

---

In my app i want to have two tabs inbox, sent

in inbox i want to show messages sent to current user

in sent i want to show messages sent by current user

just like email system.

---

thanks.

[2015-08-27 14:20] Tjoosten opened #66 "Thread search."
Hi,

I was thinking. What if you implement a option to search the threads?

[2015-08-28 00:27] marcelotk15 commented on #66
If you want to search by name you can make a simple search system, no?

[2015-08-28 00:39] marcelotk15 commented on #65
I make like this im my atual work. https://gist.github.com/marcelotk15/2e4c5a34314907c72a9f

[2015-08-28 00:54] lorvent commented on #65
Hi Marce

thanks for sharing your work.

but actually trying to implement something like inbox,sent etc so i am looking if there is any elegant way of doing it built in methods.
thanks.

[2015-08-28 09:08] Tjoosten commented on #66
Indeed a full text search based on the name.

[2015-08-28 12:36] cmgmyr commented on #66
this would probably be helpful to a lot of users. I'll tag it for V3

[2015-08-29 11:00] Pandahisham commented on #66
+1

[2015-09-02 15:36] RaoulDijksman commented on #57
Same issue here! The postgreSQL grammer is different from that to mySQL to alter a table.

[2015-09-02 15:48] cmgmyr commented on #57
I'm going to have to re-work a few things to get this to work. Currently I'm relying on MySQL's `ON UPDATE CURRENT_TIMESTAMP` which is some of the problem. I'll have to set a timestamp through the code instead, then I can adjust the migrations from there

[2015-09-03 05:42] UnrulyNatives opened #67 "column name in users table different than default"
Hi,

In my `users` table the column with name of the user is not `name` but `username`.
In consequence, running your package ends up with

SQLSTATE[42S22]: Column not found: 1054 Unknown column 'users.name' in 'field list' (SQL: select concat(users.name) as name from `users` inner join `participants` on `users`.`id` = `participants`.`user_id` where `participants`.`thread_id` = 3 and `users`.`id` !

[2015-09-03 06:27] avlastenok commented on #67
First step is to open the closed issues tab and see if your question has been answered and it has a number of times take a look at #39

[2015-09-03 10:40] #67 closed

[2015-09-03 16:24] bustarice opened #68 "Warning: Ambiguos class resolution"
Hello,

I am getting Ambiguos class resolution during composer update. It is working but this error is happening all the time.

Here is what it says in detail:

[code]

Please advise how to fix this.

Thanks.

[2015-09-04 06:55] semsphy commented on #68
+1

[2015-09-04 12:27] nuukcillo commented on #68
I deleted the files in 'vendor\cmgmyr\messenger\src\migrations' folder as a temporary solution.

[2015-09-04 15:57] bustarice commented on #68
@nuukcillo I guess I'll have to do that for now. Hopefully if it needs to update again it would have that issue fixed by then.

[2015-09-04 18:04] cmgmyr commented on #68
Thanks for reporting this everyone. Please update the package and let me know if this shows up again, should be fixed now.

[2015-09-04 18:04] #68 closed

[2015-09-05 01:20] vlakoff commented on #57
This might be due to the PostgreSQL gotcha mentioned on this [SO answer](http://stackoverflow.com/questions/18067614/how-can-i-set-the-default-value-of-a-timestamp-column-to-current-timestamp-on-u#20822267).

[2015-09-08 20:57] YnievesDotNet opened #69 "Problems without column name"
I'm try that:
$thread->participant = $thread->participantsString($currentUserId, $columns="first_name");

but say error like:
in Thread.php line 289
at HandleExceptions->handleError('2', 'implode(): Invalid arguments passed', 'D:\xampp\htdocs\plantel.ynieves.local\vendor\cmgmyr\messenger\src\Cmgmyr\Messenger\Models\Thread.php', '289', array('columns' => 'first_name', 'dbDriver' => 'mysql'))

[2015-09-08 21:15] avlastenok commented on #69
Take a look at #39

[2015-09-08 23:27] #69 closed

[2015-09-09 01:00] YnievesDotNet commented on #69
Thaks, thats is I'm need.

Other, do you have ani integration in real time update? Angular by example?

Thanks.

[2015-09-09 04:27] avlastenok commented on #69
Cmgmyr is working on this https://github.com/cmgmyr/laravel-messenger-pusher-demo
Realtime with pusher.

[2015-09-09 13:59] YnievesDotNet commented on #69
And I can use realtime Using ServerSentEvent??

Thanks.

[2015-09-13 14:10] YnievesDotNet opened #70 "how i can disable minimize and close icon..."
I need hide both buttons, without css.

I'm can change the template of chat??

I'm can create an box similar at facebook chat for this messenguer?

Best regards, Ynieves.

[2015-09-13 22:04] cmgmyr commented on #70
The template files included in the package are just for a simple example, you can copy these into your application's views directory and adjust them any way you need to. Using the templates as-is is not really recommended.

[2015-09-13 22:04] #70 closed

[2015-09-14 15:27] YnievesDotNet opened #71 "I like do..."
my idea is that.

    public function thread($id)
    {
        try {
            $thread = Thread::findOrFail($id);
        } catch (ModelNotFoundException $e) {
            Session::flash('error_message', 'The thread with ID: ' . $id . ' was not found.');

            return redirect('messages');
        }
        $userId = Sentinel::check()->id;
        $messages = $thread->messages->take(-5);

[2015-09-14 15:29] YnievesDotNet commented on #71
the scripts is

angular.module('plantelApp').controller('chat', chat);
function chat() {
    var vm = this;
    vm.subject = 'test';
    vm.messages = [];
    vm.username = 'username1';
    vm.sendMessage = function(message, username) {
        if(message && message !== '' && username) {
            vm.messages.push({
                'username': username,
                'content': message

[2015-09-14 22:23] cmgmyr commented on #71
Sorry, I don't think this is the right place to ask these questions. Please take a look at the forums at https://laracasts.com/discuss

[2015-09-14 22:23] #71 closed

[2015-09-15 07:50] sutonium commented on #57
this also happens in SQL Server 2008R2

[2015-09-16 13:53] cheles opened #72 "Nothing to publish for tag []."
Hi, I wanted to include your package to my Laravel app but I get "Nothing to publish for tag []" when I run php artisan vendor:publish --provider="Cmgmyr\Messenger\MessengerServiceProvider" on my server

Tried also with --force but with the same result.

Thank for your help

[2015-09-16 13:55] cmgmyr commented on #72
Hi, please take a look at #60

[2015-09-16 13:55] #72 closed

[2015-09-16 14:00] cheles commented on #60
@cmgmyr: this was closed but how it was solved: i have fixed your package manually and it's working perfect.

@uusa35  can you tell me what you've "fixed"?

Thanks guys

[2015-09-16 14:03] cmgmyr commented on #60
Please look at my comment on [Aug 4](https://github.com/cmgmyr/laravel-messenger/issues/60#issuecomment-127764171), you'll need to add the service provider in your config before you run the vendor publish command

[2015-09-16 14:06] cheles commented on #60
It's already in config/app.php. I followed all the steps

[2015-09-18 02:04] selmonal opened #73 "Can't use in laravel 5.1.* project"
Can't use in laravel 5.1.* project. Composer displays errors like below

[InvalidArgumentException]
  Could not find package cmgmyr/laravel-messenger at any version for your min
  imum-stability (stable). Check the package spelling or your minimum-stabili
  ty

Please upgrade version of laravel.

[2015-09-18 10:37] cmgmyr commented on #73
I just tried a fresh install of Laravel 5.1, and ran `composer require cmgmyr/messenger` which installed 2.7.1 without any issue. Can you try again?

[2015-09-18 11:27] cmgmyr commented on #60
I was just able to install https://github.com/intrip/laravel-authentication-acl and this package without seeing that issue. I was able to publish the assets successfully.

[2015-09-19 20:56] a-komarev opened #74 "Hardcoded column name"
In my application there is no `users.name` column but participantsString using it. User names are separated to different table `profile`. As I can see there will be great thing to add an utility method in User model which will return a user name and use it inside your package.

[2015-09-19 21:08] a-komarev opened #75 "Hardcoded users table name"
One more small thing - if in application user's table is named like: `user` or `account` for example - it's hard to use this package without forking it and perform renaming of all occurrences of users table usage.

Here I see 2 solutions:
- have in configuration users table name and if it's not provided - use `users` as default;
- take table name from Users model, because it's already assigned in

[2015-09-19 23:11] gibtang opened #76 "Running publish copies over the migration files will cause problem when doing a migrate:refresh --seed"
As 'php artisan migrate:refresh' will recreate the entire database according to the timestamp, so the migration file such as 2014_10_28_175710_create_messages_table.php will be executed first and that will cause a foreign key conflict as it tries to create a foreign key to the user table which user creates at current time which is much later than 2014.

To replicate. Create a user table at current

[2015-09-20 08:32] selmonal commented on #73
Now it works. Thank you but I don't understand what was going on.

[2015-09-20 12:13] cmgmyr commented on #73
I'm not sure, maybe something was going on with packagist and/or GitHub at the time that you were trying to install everything. I'm glad it's working for you now though

[2015-09-20 12:13] #73 closed

[2015-09-20 15:38] imanghafoori1 opened #77 "Sqlite incompatible - migration syntax"
It seems , the hard coding sql syntax like this :
  public function up()
    {
        DB::statement('ALTER TABLE `'.DB::getTablePrefix().'participants` CHANGE COLUMN `last_read` `last_read` timestamp NULL ON UPDATE CURRENT_TIMESTAMP DEFAULT CURRENT_TIMESTAMP;');
    }
in the 2014_11_10_083449_add_nullable_to_last_read_in_participants_table.php file.
causes syntax error when using sqlite. it shoul

[2015-09-20 16:17] cmgmyr commented on #77
Thanks for reporting, I'm still looking in to this - duplicate of #57. I'm hoping to get this resolved shortly.

[2015-09-20 16:17] #77 closed

[2015-09-21 04:48] a-komarev commented on #74
To clarify situation more, it's not duplicate of #39
I need to get user data from `profiles` table, not from `users`.

[2015-09-21 10:38] IJack commented on #55
Thanks for the nice package, works fine.

But I got an error when I make a migration:refresh after a time: Class "AddSoftdeletesToThreadTable" not found. The migration file with it class is in the migration folder. Don't know what I'm doing wrong

[2015-09-21 20:58] greenbicycle commented on #76
Can you just change the name of the migration file before you migrate?

[2015-09-24 08:44] askaoru commented on #74
not sure if it might work or not. but to give an idea, you might use this instead
[code]
then use database relationship to fetch the username from your profile table.
[code]
sorry, not a pro here and i couldn't test it out right now

[2015-09-25 23:39] cmgmyr commented on #76
can you update your app to use `dev-master` to see if the recent commits have fixed this issue? I'm going to look into a few other issues before I tag the next version. Thanks!

[2015-09-25 23:49] gibtang commented on #76
The easier fix is to to modify the migration file to remove the foreign key creation and then modify the readme to tell the uset to create a migration file and insert the foreign key. Anyway, if you can verify this issue exists. I can do the fix and the submit a pull request

[2015-09-25 23:59] cmgmyr commented on #76
I've already removed the key creation from the initial migrations. I'll leave it up to the dev's desecration if they want to create the foreign keys in their app. I don't think it needs to be specified in the readme

[2015-09-26 00:29] cmgmyr commented on #75
Thanks for reporting, good idea. I should have this shortly

[2015-09-26 00:34] cmgmyr commented on #74
@a-komarev once #75 is done, I believe you should be all set with this. Once that is completed you should be able to do something like this:

[code]

since the `name` referenced in the queries are just aliases. Unless I'm missing something else?

[2015-09-26 03:08] gibtang commented on #76
Cool, are the foreign keys necessary as there is no mention in the realm??

[2015-09-26 03:40] a-komarev commented on #74
@askaoru
Thanks for idea! Finally this pretty complex query, but it works
[code]

@cmgmyr
The issue in that case - in my current application there is no any public data in users table. And I need to fetch it from model related to user.

[2015-09-26 04:32] a-komarev opened #78 "Table names prefixes"
One more thing which I found very important for this package is has an ability to set table names prefixes. I'm not talking about global application's database table names prefixes. That's mostly ability to group tables which this package is used and prevent table names conflicts with other packages.

For example what I want to see in my database:
`messenger_threads`, `messenger_participants`, `me

[2015-09-26 05:55] askaoru commented on #78
:+1:  on this

[2015-09-26 06:20] selmonal commented on #78
And table name prefix should be configurable.

[2015-09-26 11:00] cmgmyr commented on #78
Good idea, I like this :+1:

[2015-09-26 11:07] cmgmyr commented on #74
ok, makes a lot more sense now. Since this is the first time I'm hearing about something like this I don't think I want to go down the road of trying to map out these relationships within the package. So as long as you have a query that you can use (even though it's a bit ugly), that seems to be a good solution to me. If others run into this same problem down the road I'd be happy to revisit

[2015-09-26 11:07] #74 closed

[2015-09-26 11:13] cmgmyr commented on #76
No, I don't think they are really necessary in some instances. They are helpful because they constrain data more within the database, and also have some build in functionality to where if you delete a record in the database that can cascade down to delete other records in other tables. That said, it seems like more people have had problems with them than it's worth

[2015-09-26 11:13] #76 closed

[2015-09-26 11:58] cmgmyr commented on #75
@a-komarev how do the changes in `dev-master` look to you? Would you be able to test this in your own app? I've tested it in a few local apps that I have.

[2015-09-26 18:15] a-komarev commented on #75
It's working out of the box now! Thanks a lot for a quick fix.

[2015-09-26 18:25] a-komarev commented on #74
Yes, I suppose it's rare to see such separating. Solution provided above suitable for 1 to 1 chat only, because it's getting only one user at time. And final solution looks like this one:

[code]

In current application there is no group chat yet, so it's ok for me. But I will look for it later and try to provide any kind of solutions if this issue will be actual still.

[2015-09-26 21:10] a-komarev commented on #55
@Pandahisham just check this repo it's pretty good boilerplate to make this package work with Pusher https://github.com/cmgmyr/laravel-messenger-pusher-demo

[2015-09-27 11:16] cmgmyr commented on #75
:+1: glad it worked out!

[2015-09-27 11:16] #75 closed

[2015-09-27 12:09] cmgmyr commented on #75
tagged `1.8` & `2.8`

[2015-09-27 12:09] cmgmyr commented on #76
tagged `1.8` & `2.8`

[2015-09-27 16:43] Pandahisham commented on #55
@a-komarev and @cmgmyr thanks !! i may have to re-purpose that to socket.io though

[2015-10-01 01:05] tim-peterson opened #79 "Getting latestMessage sender name"
I see that you can get the `user_id` of the `latestMessage` when looping through the `$threads`, but it would be great to get the `lastestMessage` `name` and possibly other things one would likely have in the User table, e.g., avatar url.

Basically i'm advocating for the `lastestMessage` DB call to do a `JOIN` on the Users table.

[2015-10-01 12:18] Turgori opened #80 "Count of new messages"
How can I get the count of new messages in thread?

[2015-10-01 13:28] askaoru commented on #80
It's on the example file provided.here
https://github.com/cmgmyr/laravel-messenger/blob/master/src/Cmgmyr/Messenger/examples/views/messenger/unread-count.blade.php

[code]

[2015-10-01 14:09] Turgori commented on #80
newMessagesCount() returns the number of threads with new messages

[2015-10-02 01:03] tim-peterson opened #81 "Messenger makes huge number of database queries in view file"
I've noticed in testing that creating multiple, say 10-20, messages results in hundreds of database queries using the example view, `index.blade.php`, most of them being repeat queries. This is happening in the `foreach` loop not surprisingly. I really don't think database calls should be happening in the view file (its not the MVC-way) so I'm wondering how the code base can be cleaned up.

<img w

[2015-10-05 06:55] shep1990 opened #82 "Argument 1 passed to Illuminate\Auth\Guard::login() must implement interface Illuminate\Contracts\Auth\Authenticatable, null given"
Hi there,

I am getting the following issue whenever I run the messenger application and since I am new to Laravel I am not 100% sure what is causing this problem. I have tried Googling the error but I am not getting a clear answer on this.

Argument 1 passed to Illuminate\Auth\Guard::login() must implement interface Illuminate\Contracts\Auth\Authenticatable, null given

Could you help?

Thanks,

[2015-10-05 15:31] cmgmyr commented on #82
Do you have `Authenticatable` on your `User` model? If you have your code up on GitHub I can take a closer look, but there could be a few things going on. Not sure if you can share or not.

[2015-10-05 15:36] cmgmyr commented on #79
You should be able to do something like `$thread->latestMessage->user->name` or `$thread->latestMessage->user->avatar`. It will use some more DB queries because you are digging down with Eloquent. I'll look into making this a little easier in V3

[2015-10-05 15:38] cmgmyr commented on #81
Thanks for reporting. The example files and the use of Eloquent as-is is just for simple example purposes. Devs should try to optimize the use depending on their app. I'll take a hard look at this for the next version though

[2015-10-05 15:42] tim-peterson commented on #79
Hey thanks, I also opened an issue #81, that shows that there are already too many queries. I know its not Eloquent but I may just clean this up for myself by doing a classic raw query with a JOIN on my user and assets tables. I know Eloquent looks nice but when it results in greater than 10 queries (forget about 350), you know its time for some refactoring :)

[2015-10-05 15:45] tim-peterson commented on #81
Yes I get that the example files are just examples. Just looking to help improve them. Thanks again for such as great library!

[2015-10-05 15:48] cmgmyr commented on #81
I'm all up for making the code/examples better, so feel free to make a PR if you want :+1:

[2015-10-05 15:49] cmgmyr commented on #79
Yeah, definitely needs some refactoring :+1:

[2015-10-05 16:09] tim-peterson commented on #81
Will do, do you mind if I add some straight up raw SQL queries to the threads model? I guess the challenge is not everyone needs more data about a thread's users besides a `user_id`. Probably at the minimum, most people will have a users table where they will want the user name to be associated with each message.

I also found it limiting that on the get all `/messages` endpoint, the unread thread

[2015-10-05 18:35] shep1990 commented on #82
Hi there,

Thank you very much for getting back to me! I do have Authenticatable in my User model, I have put my code on github, https://github.com/shep1990/messenger. This is just a clean instillation of LaraveL with Messenger installed, I wanted to see if it happened on a clean install.

Thanks again.

Richard.

[2015-10-06 01:52] damienwebdev opened #83 "5.1.19 requires changes to $_ENV"
Line 54 of Trait/Messagable.php requires

    if (env('APP_EMV', 'local') == 'testing' || !str_contains(\Illuminate\Foundation\Application::VERSION, '5.0'))
      {
        $participants = $participants->all();
      }

[2015-10-06 01:53] damienwebdev commented on #83
I made the above fix to resolve an issue in 5.1.19 where $_ENV was unable to access the 'APP_ENV' from the .env file.

[2015-10-06 13:39] mmeindl opened #84 "Remove Foreign Keys Error"
Hey, I have Laravel 5.0 and the latest version of your messenger. To install your messenger i did everything step by step as you said but when I do "php artisan migrate" I get that error:

[Illuminate\Database\QueryException]
SQLSTATE[42000]: Syntax error or access violation: 1091 Can't DROP 'messages_thread_id_foreign'; check that column/key exists (SQL: alter table `messages` drop foreign key me

[2015-10-06 14:08] cmgmyr commented on #84
Since this is a new install, you could probably just remove the `2015_09_25_133458_remove_foreign_keys.php` file from your migrations directory, then try again.

[2015-10-06 14:08] #84 closed

[2015-10-06 14:25] cmgmyr commented on #83
Thanks for reporting, I've fixed this in `2.8.1`, just run a composer update on the package and you should be all set.

[2015-10-06 14:25] #83 closed

[2015-10-06 14:33] mmeindl commented on #84
Thank you for the fast answer! That problem is solved, but when i do now "php artisan migrate:refresh" i get the following error:

[Symfony\Component\Debug\Exception\FatalErrorException]
  Class 'AddSoftdeletesToThreadsTable' not found

Maybe you can help me with that one again?

[2015-10-06 14:54] cmgmyr commented on #84
hmm, maybe a `composer dumpautoload` would work? That file should still be in your migrations directory

[2015-10-06 14:57] mmeindl commented on #84
yeah that was it. Thank you very much!

[2015-10-07 08:57] Turgori opened #85 "Pusher"
When we can see and use your complete laravel-messenger-pusher-demo, Сmgmyr?

[2015-10-07 11:58] tim-peterson commented on #81
Actually Eloquent solves this, see **eager loading**: http://laravel.com/docs/5.1/eloquent-relationships#eager-loading (edited)

[2015-10-07 14:13] a-komarev commented on #85
Is this what you are waiting? https://github.com/cmgmyr/laravel-messenger-pusher-demo

[2015-10-08 05:52] AbdullahGhanem opened #86 "where documentation ! how can use this package"

[2015-10-08 06:41] avlastenok commented on #86
You could start out viewing the example files for starters

[2015-10-08 07:48] mydnic commented on #86
https://github.com/cmgmyr/laravel-messenger#examples

[2015-10-08 11:03] #86 closed

[2015-10-13 15:50] impleri commented on #84
This should be addressed differently. Perhaps a check on the table to see if the key exists? Otherwise, people will have to delete the migration every time the run `vendor:publish`.

[2015-10-14 08:25] kishorkmishra commented on #84
Now i got error.... Argument 1 passed to Illuminate\Auth\Guard::login() must implement interface Illuminate\Contracts\Auth\Authenticatable, null given

[2015-10-17 05:46] smnjuguna opened #88 "Runtime error"
![error](https://cloud.githubusercontent.com/assets/4638578/10557204/3e6b3218-74ab-11e5-9648-be55a65a999f.png)
Hi am using the examples at the git repository, but am getting the error above.

[2015-10-18 08:42] woodytang opened #90 "database tables seems not Eloquent friendly"
when I was trying to execute "$user->messages()->delete();", it thrown something like this :

Integrity constraint violation: 1052 Column 'updated_at' in field list is ambiguous ....

and I have to delete them manually:
[code]

[2015-10-18 11:27] askaoru commented on #88
Hello there,
Have you added the messageable trait to your user model?

[code]
like so?

[2015-10-21 12:42] cmgmyr commented on #85
Even though the demo repo is still a WIP, it's pretty close to being done. I don't have an ETA on my side for finishing, but it should get you about 80%+ there. All apps will be different, so you probably wouldn't be able to use it as-is anyways.

[2015-10-21 12:42] #85 closed

[2015-10-21 12:46] cmgmyr commented on #88
@smnjuguna have you done this? ^^

[2015-10-21 12:47] cmgmyr commented on #90
thanks for reporting, let me look into this a little more

[2015-10-22 04:21] smnjuguna commented on #88
Hello Chris, I have added the code in the user controller and it works.
Thanks so much.
On Oct 21, 2015 3:46 PM, "Chris Gmyr" <notifications@github.com> wrote:

[2015-10-23 14:01] BKD-Digital commented on #84
Any luck with this Kish?

[2015-10-25 08:01] texnika01 opened #91 "Migration problem : Syntax error or access violation:"
Problem in php artisan migrate(Laravel 5.1):
[Illuminate\Database\QueryException]
  SQLSTATE[42000]: Syntax error or access violation: 1091 Can't DROP 'messages_thread_id_foreign'; c
  heck that column/key exists (SQL: alter table `messages` drop foreign key messages_thread_id_forei
  gn)
  [PDOException]
  SQLSTATE[42000]: Syntax error or access violation: 1091 Can't DROP 'messages_thread_id_fore

[2015-10-25 16:23] askaoru commented on #91
you may refer to issue #84

[2015-10-25 22:27] texnika01 commented on #91
Thank you

[2015-10-27 19:24] rbkkbr commented on #81
Maybe I got a solution!!! OPTIMIZE using a eager loading!!!, the same as tim-peterson was wrote!

[2015-10-27 19:28] tim-peterson commented on #81
@rbkkbr That's awesome!! Would it be possible to share your solution?

[2015-10-28 20:06] tusharvikky opened #92 "Extending Thread and Messages Model?"
How can I extend app/Messages.php Model by package Message Model. I want to add certain relationships with messages and threads?

[2015-10-28 21:16] #91 closed

[2015-10-29 13:08] #88 closed

[2015-10-29 13:10] cmgmyr commented on #84
FYI, the migration to remove foreign keys have been moved to the example dir in the latest versions

[2015-10-29 13:13] cmgmyr commented on #92
you can extend the model classes like any other class. you could do something similar to this:

[code]

[2015-10-29 13:13] #92 closed

[2015-10-29 18:39] tusharvikky commented on #92
My Users Meta is stored in another table. How can I have $thread->meta();

[2015-11-11 14:18] RudolfFussek opened #93 "Error"
Hey! I have install the package but I have a error:

Call to undefined method Illuminate\Database\Query\Builder::newMessagesCount() (View: /var/www/html/resources/views/messenger/unread-count.blade.php) (View: /var/www/html/resources/views/messenger/unread-count.blade.php) (View: /var/www/html/resources/views/messenger/unread-count.blade.php)

The unread-count.blade.php file:
<?php $count = Auth::

[2015-11-11 15:40] cmgmyr commented on #93
Your user might not be logged in before that was called. Make sure you are checking if they are logged in first. I'll make that change to the example view file. Please let me know if you need anything else.

[2015-11-11 15:40] #93 closed

[2015-11-17 12:46] argb opened #94 "when will release v3.0 to support socket.io ?"

[2015-11-17 14:01] cmgmyr commented on #94
Right now I'm not planning on making any integrations for socket, pusher, etc but I was thinking about making secondary packages to do this. I don't have anything planned yet, just an idea right now though.

[2015-11-17 14:01] #94 closed

[2015-11-17 14:12] argb commented on #94
@cmgmyr Thank you

[2015-11-19 09:25] RudolfFussek opened #95 "Login to user id 1"
Hey! I have install this package but I have a error...

When I go to site.com/message white my user (id=1) than its function perfect.

When I logged into userid 2 and go to site.com/message I logget automatically into the userid 1? Why?... I have test it whit another Browser, the same... I logged into userid_2 go to site.com/message and I'm logging white userid_1...

Can anyone help me?

[2015-11-19 09:39] RudolfFussek commented on #95
Also, when I logged out and I go to site.com/messages, I'm logged in white user_id 1...

Big mistake and unsure :-1:

[2015-11-19 11:05] cmgmyr commented on #95
Hi,
You're going to have to remove these [two lines](https://github.com/cmgmyr/laravel-messenger/blob/master/src/Cmgmyr/Messenger/examples/MessagesController.php#L21) from your application since they are only for testing/demo purposes. Please let me know if you need anything else.

[2015-11-19 11:05] #95 closed

[2015-11-19 13:57] RudolfFussek commented on #95
Thanks for your help!

[2015-11-19 21:45] JacklynWyatt commented on #65
@lorvent Were you able to come up with a solution to this issue?  I am looking to do the same thing.

[2015-11-21 16:28] azeos commented on #65
+1

[2015-11-22 22:59] RudolfFussek opened #96 "Order by id"
Hey!

My question, can I messages order by ID?

[2015-12-05 00:29] brianveltman commented on #82
Having the same issue.

[2015-12-05 00:40] brianveltman commented on #82
Of course.. the example code of MessagesController.php is using a user with the ID of 1. If the user does not exist an error will be thrown.

I have updated my code to this:

MessagesController.php
[code]

[2015-12-05 11:11] cmgmyr commented on #82
The constructor in the example controller should be removed in the real application, and a better authentication process should be put into place. The initial code is just for testing purposes. Once this is removed, you should be all set...

[code]

[2015-12-05 11:11] #82 closed

[2015-12-05 11:15] cmgmyr commented on #96
You are able to call the `Thread` model any way you'd like. So something like this would work:

[code]

[2015-12-05 11:15] #96 closed

[2015-12-05 11:52] cmgmyr commented on #90
I was able to run the command: `$user->messages()->delete();` in my test app without a problem. What version are you on?

It looks like I need to add a `participants` relationship to the users trait so we can also call: `$user->participants->delete()`. So if you were to delete a user from the system, it would look like:

[code]

I'll take a better look at this process in `V3` to make deleting a us

[2015-12-05 11:52] #90 closed

[2015-12-05 11:54] cmgmyr opened #97 "Add Participants Relation"
It looks like I didn't add a participants() relation on the `Messagable` trait, so running something like this: `$user->participants()->delete();` does not work.

Refs #90

[2015-12-06 11:57] talha08 commented on #55
How can I run this in my project , I have no idea... .. I followed all the instructions but its not working  :( I am using laravel 4.2 version ...anyone here to help me please!!

[2015-12-06 18:17] cmgmyr commented on #55
@talha08 if you have a specific thing you need help with, please create a new issue ticket with more information. This isn't the correct issue for help. With Laravel 4, you should be using the `1.x` version. I hope that helps.

[2015-12-08 22:42] mhluzi opened #99 "Group messaging"
Hi there

This is not really an issue as such - more of a question.

Thanks for the package - still learning how things connect together but one aspect I am trying to get my head around is if the group messaging functionality can be used to contact the same group in different threads.

I have an application where people can belong to projects. All project members should then be able to chat on var

[2015-12-09 08:26] mydnic commented on #99
When you create a project, you can create a new thread at the same time, and add the project's users in the thread's participants, that would be the simpliest thing to do.

[2015-12-09 11:24] cmgmyr commented on #99
Yes, I agree with what @mydnic stated. That would be a good workflow to implement.

Thanks for using the package!

[2015-12-09 11:24] #99 closed

[2015-12-10 03:38] mhluzi commented on #99
Thanks - appreciated!

[2015-12-10 12:58] #97 closed

[2015-12-10 13:00] cmgmyr opened #100 "Remove failure allowed in Travis for HHVM"
We needed to temporarily allow failures in HHVM with Travis CI since they were having problems with HHVM getting installed. Once it's fixed, remove that option from the config so it should always pass.

[2015-12-11 00:48] mhluzi commented on #99
Is it possible/logical to create a thread without an initial message?

[2015-12-11 12:31] cmgmyr commented on #99
yes, you can have a thread without an initial message. You could check if no messages are available, then display something like: `Welcome to the X project! Kick off the discussion and add a welcome message to the rest of the team`. Alternatively you can have that message attached to a "system" user too. Just depends on how you'd like to handle it.

[2015-12-11 12:38] #100 closed

[2015-12-16 23:08] VickG opened #101 "demo?"
Where can I find a demo of this application?

[2015-12-21 07:11] RokSiEu commented on #101
You can find it here
https://github.com/cmgmyr/laravel-messenger-pusher-demo

But keep in mind that it is not updated, you need to add some security to it
More here
https://github.com/cmgmyr/laravel-messenger/issues/43

[2015-12-21 21:39] cmgmyr commented on #101
There is no live demo at the moment, just the repo mentioned above. There are example files included with this package so you can easily put together a working app in a few minutes.

[2015-12-21 21:39] #101 closed

[2015-12-23 08:21] raghavendra89 commented on #93
Hi,

Even I'm getting the same error:

BadMethodCallException in Builder.php line 2073:
Call to undefined method Illuminate\Database\Query\Builder::newMessagesCount()

I did check if the user is logged in using Auth::check().

        if (Auth::check()) {
	    $count = Auth::user()->newMessagesCount();
	}

But still getting the same error.

Thanks!!!

[2015-12-23 10:26] raghavendra89 commented on #93
This is my user model:

      namespace App;

      use Illuminate\Auth\Authenticatable;
      use Illuminate\Database\Eloquent\Model;
      use Illuminate\Auth\Passwords\CanResetPassword;
      use Illuminate\Foundation\Auth\Access\Authorizable;
      use Illuminate\Contracts\Auth\Authenticatable as AuthenticatableContract;
      use Illuminate\Contracts\Auth\Access\Authorizable as AuthorizableCo

[2015-12-23 10:51] raghavendra89 commented on #93
ok, solved it. made the simple error: forgot to include this line in the User model.

       use Messagable;

[2015-12-27 11:58] radiart opened #102 "Command class "Appzcoder\CrudGenerator\Commands\CrudViewCommand" is not cor rectly initialized"
Hi I'm using Laravel 5.1 when I trying install laravel-messenger I getting this error:

``Command class "Appzcoder\CrudGenerator\Commands\CrudViewCommand" is not cor
  rectly initialized. You probably forgot to call the parent constructor.``

Any ideas?

[2015-12-27 12:51] #102 closed

[2015-12-27 19:36] radiart commented on #78
Inform when you add that feature! :+1:

[2016-01-03 16:32] JoanVt opened #103 "$this->creator()->user not working for me."
Well, I had my user's table created already with another index name (id instead user_id)

I don't know if that's the problem (I don't think os) but $this->creator() method of Thread is not working calling the "user" method after the query.

I "fixed" it doing like this:
return $this->messages()->with('user')->oldest()->first();
Instead of
return $this->messages()->oldest()->first()->user;

Just sa

[2016-01-09 06:42] a-komarev commented on #78
I've made some sketches in one of my projects, but it's too raw. But I found an issue:

**Thead.php**

[code]

Are you sure `$this->getParticipantTable()` must be dynamic? Because if I named my table of participants as `messenger_participants` - I'm receiving:

[code]

So, hardcode fixed it:

[code]

[2016-01-10 22:09] seancork opened #104 "getting "Trying to get property of non-object""
getting
ErrorException in Thread.php line 87:
Trying to get property of non-object because of
 {!! $thread->creator()->name !!}

which is connected to this

public function creator()
    {
        return $this->messages()->oldest()->first()->user;
    }

any ideas why this is happening?

[2016-01-13 23:48] RudolfFussek opened #105 "Message Threads"
Hey! I have a bug... When I send a Message to ONE User. all Users can see and read this thread, why? Can anyone help me?

[2016-01-14 00:02] VickG opened #106 "screenshot"
Can someone please show me how this chat looks like? I demo or at least a screenshot would be very helpful!

[2016-01-18 01:30] RudolfFussek commented on #96
Hey! I mean the the messages in the threads...

[2016-01-18 14:59] JoanVt commented on #104
Read my last comment.

https://github.com/cmgmyr/laravel-messenger/issues/103

[2016-01-18 16:28] FrankDupree commented on #55
@cmgmyr  Using it as a personal messaging system with the phphub china community forum.
you could check it out here. [Phphub++](https://github.com/FrankDupree/phphub)
![](https://cloud.githubusercontent.com/assets/8538930/12395169/0e63c0f8-bdf8-11e5-8c25-f27a7abf6494.jpg)

[2016-01-18 16:46] Gummibeer commented on #96
Same answer like @cmgmyr, yes you can:

[code]

[2016-01-19 10:33] JoanVt commented on #105
Hey! You must get the user Thread like this:

Getting all user Threads:
$thread = Thread::forUser(Auth::user()->id)->latest('updated_at')->get();

Then, check participation:
$participant= Participant::where('thread_id',$thread->id)->where('user_id',Auth::user()->id)->first();

[2016-01-19 11:32] RudolfFussek commented on #105
I add in the MessagesController.php show_message right? Must I edit the routes MessagesController@show in MessagesController@show_message?

[2016-01-19 11:55] JoanVt commented on #105
Oh, well, sorry. I was using my own methods.

Use show() or show_message(), doesn't matter.

[2016-01-19 12:00] Gummibeer commented on #105
I've did it with the explicit Model binding and just check the participation of the current user:

**routes.php**
[code]

**RouteServiceProvider**
[code]

**MessageController**
[code]

[2016-01-19 12:03] RudolfFussek commented on #105
@JoanVt: Okay. Now I have this:

[code]
public function show($id)
    {
        try {
            $thread = Thread::findOrFail($id);
        } catch (ModelNotFoundException $e) {
            Session::flash('error_message', 'The thread with ID: ' . $id . ' was not found.');

            return redirect('user/messages');
        }

        // show current user in list if not a current participant

[2016-01-19 12:03] #105 closed

[2016-01-19 12:05] RudolfFussek commented on #105
Oh no!!!! I wanted not close it :(

[2016-01-19 12:07] Gummibeer commented on #105
I'm also ... what is your problem and what are you trying to get working?
Do you want to list all Threads the current User is participating? Or do you want to display a single Thread, but only if the current user is a participant of this Thread, or what is your goal?

[2016-01-19 12:09] RudolfFussek commented on #105
When I go to yourwebsite.com/messages/ID than I can see the Messages, but I'm not participant from this thread....

[2016-01-19 12:12] Gummibeer commented on #105
Ok, than thsi will solve your problem:

[code]

just add it in your show Method of your controller. You can do everything you want inside the if what you want to do if anyone want to see a message thread where he isn't a participant.

[2016-01-19 12:13] JoanVt commented on #105
My routes:
[code]

My Controller:
[code]

[2016-01-19 12:14] Gummibeer commented on #105
You can use `\Auth::id()` instead of `\Auth::User()->id` just to say. ;)

[2016-01-19 12:29] JoanVt commented on #105
@Gummibeer Your answer is ok! Don't know why i'm not using this method. Updating and posting in secs...

[2016-01-19 12:30] RudolfFussek commented on #105
@Gummibeer THANKS!!!!!!!!!! <3 <3 <3...

But now a last question. In will the messages in thread sort by ID DESC. Your answer in the another issues not helpful *for me*...

[php]$messages = $thread->messages()->orderBy('id', 'desc')->get()[/php]

In my Controller show() or who?

[2016-01-19 12:39] Gummibeer commented on #105
where you want to get the sorted collection of the messages. In the Controller, View or where ever you need it.
You get a collection of, by ID, ordered messages for the given thread.

[2016-01-19 12:52] RudolfFussek commented on #105
Ohh now I have understand it! Thanks for you help.

[2016-01-20 15:45] cmgmyr commented on #103
hmm, what version of Laravel are you using? Seems to be working ok for me

[2016-01-20 16:19] JoanVt commented on #103
5.1

[2016-01-20 20:53] #104 closed

[2016-01-20 20:59] cmgmyr commented on #103
hmm, I'm in a fresh install of 5.1 (`v5.1.28`) I'm getting the expected result from: `return $this->messages()->oldest()->first()->user;`. Do you have your code available somewhere online that I could check out?

[2016-01-20 21:08] cmgmyr commented on #106
Well the package is primarily just the backend functionality of a messaging system. This leaves a lot more flexibility for the developer to make it into what they need it to be. I do have a few starting view files included that will give you some good basics (in Bootstrap).

Messages Index Page...
<img width="798" alt="screen shot 2016-01-20 at 4 05 21 pm" src="https://cloud.githubusercontent.com/

[2016-01-20 21:08] #106 closed

[2016-01-20 22:24] Gummibeer commented on #106
A custom responsive templates in mobile view:

![Chat](https://pl.vc/2m0v9)

[2016-01-20 22:25] Gummibeer commented on #106
![Chat](https://picload.org/image/wdcwlgg/screenshot_2016-01-20-23-20-28.png) - sry, wrong link

[2016-01-20 22:26] Gummibeer commented on #106
Like you See including twemoji, but I have to add some more replacement codes like :) ;) :P and so on

[2016-01-20 22:29] Gummibeer commented on #106
Like @cmgmyr said: it's just the Backend, so you can do whatever you want, that's why I love this package cause it doesn't force you to any routing, views or anything you don't want.

[2016-01-20 22:37] Gummibeer commented on #55
In a Game-Webinterface for an Arma3 Altis Life Server.

AS additional features I've added Markdown and a PHP side Twemoji Class that replaces some codes with the SVGs for the twemojis.

For me this is a very good package cause it just comes with the needed things and is easy customizable.

[2016-01-21 07:03] a-komarev commented on #106
@Gummibeer your link returned: `Not Found`

[2016-01-22 00:40] robbiepaul commented on #81
I managed to refactor the code to introduce eager loading and reduce the n+1 problem

I'll share a couple of the steps here and hopefully people will be able to replicate.

In my `User` model I added this relationship
[code]
Then in my `MessagesController` changed the `index` method to:
[code]
Then finally in the `Thread` model (I had to copy it across to my own app namespace). I had to make a few

[2016-01-22 05:33] bgies commented on #55
I'm not using it yet, but I'm planning on using it to support messaging between the website admins and the users... it seems very well suited for that

[2016-01-27 13:32] Kenny11CZ commented on #80
bump, I would appreciate it, too

[2016-01-28 17:55] divdax commented on #78
+1
prefixed tables are much more organized! When you have a database with more than 50 tables it's a bit messy. :smiling_imp:

[2016-01-29 09:46] extrakun opened #109 "Count number of new messages for a user?"
I am trying to do a private mailbox function, and I would like to provide the number of new messages (not threads) for a  user. What is the most efficient way of doing it?

[2016-01-29 15:15] a-komarev commented on #109
#80 would this help you?

[2016-01-29 15:16] a-komarev commented on #80
+1 for this feature

[2016-01-29 22:09] m-gamal opened #111 "How to contribute in this project?"
Please tell me what are the steps to contribute in this project?

[2016-01-29 23:46] #111 closed

[2016-01-29 23:54] m-gamal opened #112 "How to start this app on laravel fresh installation ?"
I walked through the installation steps , but I can't know where is the start point of this app ?

[2016-01-30 00:35] cmgmyr commented on #112
Have you looked at the [example files](https://github.com/cmgmyr/laravel-messenger/tree/master/src/Cmgmyr/Messenger/examples)?

[2016-01-30 00:36] #109 closed

[2016-01-30 00:36] m-gamal commented on #112
Yes but i don't know how to sort or use them ? sorry about my questions :)

[2016-01-30 00:40] Kenny11CZ commented on #112
In your controller, fe: MessageController, u can include these models and use them.
`use Cmgmyr\Messenger\Models\Message;
use Cmgmyr\Messenger\Models\Participant;
use Cmgmyr\Messenger\Models\Thread;`

Now u can do for example:
`$thread = Thread::create(['subject' => 'test' ]);`
this will create thread with subject "test".
`Message::create(
            [
                'thread_id' => $thread->id,

[2016-01-30 00:46] m-gamal commented on #112
@Kenny11CZ  thanks for your comment :) . but I want where is the start page not only the codes

[2016-01-30 04:48] extrakun commented on #109
It looks like it would! I am rather new to GitHub, how do I pull a pull-request using composer?

[2016-01-30 06:35] avlastenok commented on #112
There is no start page in a clean laravel app if the message package is the only thing you have installed in the project and you have taken the example files into you project and updated the routes file with the example routes then youapp.dev/messages

[2016-01-30 21:23] #112 closed

[2016-02-13 19:18] sger commented on #55
Great package just created a demo app with Laravel 5.2

https://github.com/sger/laravel-messenger-demo

[2016-02-13 20:35] cmgmyr commented on #55
Thanks for the demo @sger! I've been toying with the idea of making a live working demo that people can log in to, but just haven't had the time recently. Definitely on my to-do list though.

[2016-02-14 02:22] cmgmyr commented on #78
This has been merged into the `master` branch. Huge thanks to @a-komarev for the PR again. I'm going to leave this in `master` for a bit so others can test out the new feature before I add it to the next minor version. Please post to this thread if you run across any issues

[2016-02-14 02:23] #103 closed

[2016-02-14 03:48] a-komarev commented on #78
Take a not that there is no way to define global table prefix, but there is an option to define table name for each model:

In messenger config file you can add optional variables:

[code]

[2016-02-16 14:40] divdax commented on #81
@robbiepaul Thank you but one thing is wrong. This doesn't return the latest message:
[code]

[2016-02-16 14:56] robbiepaul commented on #81
@divdax It works for me.

What's it returning for you?

Make sure your `messages` relationship in the `Thread` model is set up correctly:

[code]

[2016-02-16 15:00] divdax commented on #81
@robbiepaul Thank you now it works. My relation had no orderBy.

[2016-02-16 15:04] robbiepaul commented on #81
No problem, I missed that change in my original reply. Glad it works now

[2016-02-16 20:19] a-komarev commented on #109
@extrakun First of all you should define target fork in `repositories` block in `composer.json` file:

[code]

After that you will be able to get branches from it. For example if you want to pull branch with name `hotfix/threads-relation` you should update `require` section in `composer.json` file by defining a branch name prefixed with `dev-` instead of writing package version for selected packag

[2016-02-17 08:11] divdax commented on #40
+1

[2016-02-21 11:03] schonhose commented on #78
Am I correct in assuming the package for laravel hasn't been updated yet? I tried the settings below but I get the following error:

Seems like the new table names are not carried over yet, presumable due to the package not being updated.

[2016-02-21 13:56] a-komarev commented on #78
@schonhose you should have use `dev-master` branch defined in composer.json to have unstable code downloaded.

[code]

[2016-02-22 19:50] schonhose commented on #78
@a-komarev Will this work with 5.1? The fact it is unstable is not really an issue since I am still developing. However, I do need it to work under Laravel 5.1.

[2016-02-22 19:53] schonhose commented on #81
@robbiepaul Thanks for providing this. I really like it, except the fact I need to copy the Thread model. This makes it hard to update. Hopefully your suggestions will make it into the example files on the repository.

[2016-02-22 20:43] a-komarev commented on #78
I believe this messenger working with 5.*

[2016-02-23 11:01] divdax commented on #81
Yes please push this into the repo. I did a manually update but now an update with composer is impossible. :cry:

[2016-02-23 11:04] divdax commented on #78
This changes are not updatable. I already installed this package via composer. An update has to be done manually. No migration files for existing tables.

[2016-02-24 19:51] schonhose commented on #81
In retrospect, we should probably move the models to our own app space since they are only provided as examples.

[2016-02-24 19:55] schonhose opened #115 "Override functions in Messagable.php trait"
I need to change the threadsWithNewMessages() function, it now returns only the thread->id, but I need the complete thread collection.

However, I am having difficulties to override the trait, how can this be done?

[2016-02-24 20:12] a-komarev commented on #115
[Traits overriding](http://stackoverflow.com/questions/11939166/how-to-override-trait-function-and-call-it-from-the-overriden-function/11939306#11939306) hope this helps.

[2016-02-24 20:24] schonhose commented on #115
Yes, I have tried this in my messageControler. Basically, from what I remember is that you don't need to rename the function, as the one in the controller automatically overrules the trait.

Anyway, I just can't get it to work.

[2016-02-25 00:18] cmgmyr commented on #78
Correct, the changes would have to be done manually if you want the prefixed tables. Probably in `V3` I'll make the prefixed tables a default and provide migration/upgrade instructions. No ETA on that at the moment though unfortunately.

@a-komarev I'm going to call this complete at the moment and tag this shortly.

[2016-02-25 00:53] cmgmyr commented on #78
tagged `2.10`

[2016-02-25 00:53] #78 closed

[2016-02-25 01:37] cmgmyr commented on #80
This is now in `master`, please let me know if there are any bugs that come up. I'm going to make some adjustments as well as maybe change the API a bit. Once everything is set I'll tag and release it.

[2016-02-25 08:40] schonhose commented on #115
Obviously I need more sleep. The trait `Messagable` is added to the user model. Hence, to overwrite the functions in the trait all I have to do is add them to the user model as well.

Working as expected now.

[2016-02-25 08:40] #115 closed

[2016-02-25 10:53] trinhsong commented on #80
How can i get a slidedown of unread threads in navbar? Thank you!

[2016-02-25 12:32] cmgmyr commented on #80
The implementation in your design will be up to you, but now you can use the `userUnreadMessages($user_id)` or `userUnreadMessagesCount($user_id)` methods on the `Thread` model

[2016-03-04 06:45] rabb-bit opened #117 "participantsString method not working on Heroku"
I used laravel messenger in heroku and $thread->participantsString(Auth::user()->id)  is not working, but in my local it's perfectly working. any thoughts?

[2016-03-04 06:52] rabb-bit commented on #117
Okay, just found the problem. I'm not using the "id" field of the table so I changed the "id" to my own user id on my local. just found out that vendor files are not included on the git push so the join key being used online is still "id" instead of "userid".

[2016-03-04 07:35] rabb-bit commented on #117
I think I have to upload my own version of laravel-messenger.

[2016-03-04 07:35] #117 closed

[2016-03-10 09:28] 3traker commented on #55
404 :(

[2016-03-16 10:38] SAIBA0011 commented on #55
I'm using it for a friends messaging system :) Planning on using this for a open forum type as well.

[2016-03-16 12:43] sger commented on #55
@3traker @SAIBA0011 download the project here https://www.dropbox.com/s/4dc7cwa5x5ihc3p/laravel-messenger-demo.zip?dl=0

[2016-03-21 05:49] 3traker commented on #55
Thanks!

[2016-03-22 20:06] cyrilblankaert opened #119 "How to get participants of a thread on index page ?"
Hi,

I don't know how to retrieve participants of a thread on the index page. I would like to show their pictures located on the users table, like as show view of messenger but on index view for each thread ! :)

Is it possible ?
Thank you ;)

[2016-03-22 21:12] cmgmyr commented on #119
So you can do something like this on your index page (untested):

[code]

but I would suggest look into eager loading the participants/users in order to get some better performance. I hope that helps.

[2016-03-22 21:12] #119 closed

[2016-03-22 22:27] cyrilblankaert commented on #119
It doesn't work, it returns nothing :(
I'm on Laravel 5.1

[code]

No error, no image, nothing :o

[2016-03-23 12:45] xuan9230 commented on #55
Hi, in my website there are two different kinds of users(multi auth), let's say "cop" and "thief" instead of one kind of "user". Can I still use this package?
Thanks!

[2016-03-23 12:52] a-komarev commented on #55
@xuan9230 of course. You can extend Thread model or even write your own to fit your requirements. This package provides a structure which you can adapt for your needs.

[2016-03-24 02:16] xuan9230 commented on #55
@a-komarev So I've noticed "user" appears a lot in several files (Thread, MessengerServiceProvider, Participant...) Should I change every single one of them? That seems to be such a huge workload...

[2016-03-24 02:35] cmgmyr commented on #55
@xuan9230 nope, all you have to do is publish the config file and update the reference to the "user" model you want [here](https://github.com/cmgmyr/laravel-messenger/blob/master/src/config/config.php). All of the references to your model will get mapped automatically. Also, if you have any questions/issues with the package, please open a new ticket so we can reserve this one for feedback related

[2016-03-24 02:44] xuan9230 commented on #55
@cmgmyr thanks man! I will open a new ticket once I figured out the entire process:)

[2016-03-24 12:59] a-komarev commented on #80
@cmgmyr see #120 please. I've found couple of bugs related to this feature and resolved them.

[2016-03-25 11:27] xuan9230 opened #121 "Play with multiple user tables/models"
Hi, in my website there are two different kinds of users(multi auth), let's say "student" and "consultant" instead of one kind of "user".
According to the discussion in another issue, an easy approach is to modify the config file, but I guess if I hack like

'user_model' => App\Student::class || App\Consultant::class,

obviously it won't work.. so how should I modify it?

PS: I use Auth::user("Stu

[2016-03-29 06:17] niyazhussain opened #123 "Is it possible to transfer files between two users with this ?"
I am currently using wbrtc with peer js for a chat application , and i am planning to integrate this on my laravel site for chat things whether this library supports media transfer or only text

[2016-03-29 08:31] Gummibeer commented on #123
It depends on your storage. Some more informations would be great!?

But in general: yes it is cause you can send a download link for the file with this package.

[2016-03-30 03:21] rjosephporter opened #124 "Unread messages for each thread?"
I browsed the Thread model and can't seem to find a way to count or return new messages for a specific thread.

Any workaround?

[2016-03-30 08:19] a-komarev commented on #124
See #80
But it has some bugs right now. Waiting for PR #120 merge.

[2016-03-30 19:34] Fenn-CS commented on #82
I am having a similar problem, something like ::
FatalErrorException in User.php line 10: Interface
'Illuminate\Contracts\Auth\Authenticable' not found

[2016-04-01 02:55] cmgmyr opened #125 "Update .gitignore"
Remove [.idea](https://github.com/cmgmyr/laravel-messenger/blob/master/.gitignore#L1) - this shouldn't be included in the packge repo, but in the dev's local, global, ignore file

[2016-04-01 02:56] cmgmyr commented on #124
the changes have been merged so going to close this for now - please use issue #80 for further updates/requests.

[2016-04-01 02:56] #124 closed

[2016-04-11 18:59] GajdosGabriel commented on #55
**xyxyxy yx **

[2016-04-18 13:49] CheungZeeCn commented on #55
Thank for all your guys' great work which saving us a lot of time.
But for some details in file Thread.php:
265             $participantNames->where($usersTable . '.id', '!=', $userId);
Why we hardcode it like this...so sad.

[2016-04-19 00:48] groundbreaker08 commented on #55
@cmgmyr implementing it on our private network! :D Thank you for this package.

[2016-04-22 11:55] cmgmyr commented on #66
Reopening this since the search is not as complete as I'd like it to be. More to come on this soon

[2016-04-23 17:01] javaftper opened #126 "Thread.php function for received messages only"
Hi,

Great package thanks.

I've implemented my create.blade.php and MessagesController.php:create() to restrict messaging to one-to-one as I don't want multiple recipients.

index() on MessagesController.php provides three options for listing threads.  They all list messages that have been participated in whereas I want to list all received messages with new messages indicator (inbox type functio

[2016-04-26 09:42] mmguide2003 opened #127 "Composer update not showing new additions"
I manually added your unreadMessagesCount but was getting:
**Non-static method Cmgmyr\Messenger\Models\Thread::userUnreadMessages() should not be called statically**
 so decided to do a composer update only to revert back to the older version without unreadMessagesCount. Can you update composer files to reflect the latest github if stable. I also wonder about this error, though it may go on update

[2016-04-26 14:43] mmguide2003 commented on #127
Generally it would be useful to have an example for how to use these:
userUnreadMessagesCount
userUnreadMessages

As I'm getting issues when calling them

[2016-04-26 14:47] cmgmyr commented on #127
Right - the latest changes are just in the `master` branch and not versioned yet, so you'd have to update your composer to look at `dev-master`. To use this, you should be able to do: `$userCount = Thread::userUnreadMessagesCount(1);`.

I need to solidify a few things before these changes are versioned, but it should be soon.

[2016-04-26 14:47] #127 closed

[2016-04-26 15:41] mmguide2003 commented on #127
Non-static method Cmgmyr\Messenger\Models\Thread::userUnreadMessagesCount()

[2016-04-26 15:58] mmguide2003 commented on #127
Thanks.

[2016-04-28 14:38] mmguide2003 opened #128 "Issue with messageCount()"
Nevermind, resolved this with my own hack.

[2016-05-09 18:59] azcoppen opened #129 "SQL error on Postgres migration"
On running php artisan migrate after vendor:publish --

[Illuminate\Database\QueryException]
  SQLSTATE[42601]: Syntax error: 7 ERROR:  syntax error at or near "`"
  LINE 1: ALTER TABLE `participants` CHANGE COLUMN `last_read` `last_r...
                      ^ (SQL: ALTER TABLE `participants` CHANGE COLUMN `last_read` `last_read` timestamp NULL ON UPDATE CURRENT_TIMESTAMP DEFAULT CURRENT_TI
  MES

[2016-05-09 19:11] cmgmyr commented on #129
Duplicate of #57

[2016-05-09 19:11] #129 closed

[2016-05-12 09:21] mahony0 commented on #40
Any progress on this?

[2016-05-13 19:21] #128 closed

[2016-05-13 19:22] #123 closed

[2016-05-20 05:34] mrkhanakia commented on #82
<?php

namespace App;
use Eloquent;

use Zizaco\Entrust\Traits\EntrustUserTrait;
// use Illuminate\Foundation\Auth\User as Authenticatable;

use Illuminate\Contracts\Auth\Authenticatable;
use Illuminate\Auth\Authenticatable as AuthenticableTrait;

class User extends Eloquent implements Authenticatable

{
     use EntrustUserTrait; // add this trait to your user model
     use AuthenticableTrait;

[2016-05-24 18:37] smnjuguna commented on #88
Hi cmgmyr/laravel-messe,

Simon Njuguna wants to connect with you on LinkedIn.
Join now to view their profile and start your own.

Confirm that you know Simon: https://www.linkedin.com/e/v2?e=0-iolsb39s-z4&t=ssuw&tracking=eml-guest-invite-cta&ek=invite_guest&sharedKey=Hf8oIZWS&invitationId=6140943511027007488

You received an invitation to connect. LinkedIn will use your email address to make sugg

[2016-05-27 21:09] Moussa112 commented on #55
@cmgmyr Realy nice package you have here! Thanks a lot! I would like to use it in my project as some sort of private direct messaging service betweens users. But I can't seem to find a way to make it "private". I used to code provided in the controller to show only the threads you are participating in so that's cool but you can still go to the "messages" you are not participating in by changing th

[2016-05-31 15:11] smnjuguna commented on #88
Simon Njuguna would like to connect on LinkedIn. How would you like to respond?

Accept: https://www.linkedin.com/comm/start/accept-invitation?sharedKey=Hf8oIZWS&invitationId=6140943511027007488&trk=eml-first_guest_reminder_01-hero-14-accept_text&trkEmail=eml-first_guest_reminder_01-hero-14-accept_text-null-8t293k%7Eiovf6x5j%7E74

View Simon Njuguna&#39;s profile: https://www.linkedin.com/comm/sta

[2016-06-01 16:30] joshrainwater commented on #57
Any update on this one? Kind of kills the process if you're using anything other than MySQL

[2016-06-02 21:02] #125 closed

[2016-06-02 21:07] cmgmyr commented on #55
@Moussa112 thanks for using the package! There isn't anything built directly into this package for private one-to-one messaging, I left that up to the developer since there are multiple ways that you can implement it. Please take a look at #29 for some helpful info. I'm going to be writing up some additional information about how to do this soon.

[2016-06-08 06:04] dorin-niscu commented on #29
How do I get the conversation in case of a chat? I have a list of users, I select one and start or continue a conversation so I need to create a thread if not exists.

I suppose I need to get the thread knowing the participants (me and the other person) but we can participate to other threads too so I need to match that specific thread.

Do we have an easier way to do that or I have to do other ch

[2016-06-08 08:28] Gummibeer commented on #29
@dorin-niscu here you go:
https://github.com/cmgmyr/laravel-messenger/blob/master/src/Cmgmyr/Messenger/Models/Thread.php#L173

With the `Thread::between([user_ids])->first()` you should get the thread, if exists, with the two participants. If not you can simply create a new thread.

[2016-06-08 08:48] dorin-niscu commented on #29
@Gummibeer Thanks. I should have studied the model :)

[2016-06-13 18:56] adehazril opened #135 "Getting attribute from related table"
Hi, this is not an issue, but I'm having trouble while implementing this package to my program.

I have 2 kinds of user: client and vendor.
Both users stored on **users** table (name, email, etc), but vendor can create their business profile which the info about this are stored in **vendors** table (vendor_name, since, etc).

I'm creating the index page that lists all the thread, but I wanted the

[2016-06-14 09:20] mrhegde1 opened #136 "Everything is visible to every one"
any user can reply to any thread..
can you assist to fix this?

[2016-06-14 11:12] cmgmyr commented on #136
please see #29

[2016-06-14 11:12] #136 closed

[2016-06-14 11:32] Gummibeer commented on #135
This method doesn't support related models - it directly puts the column in the select query. You can create your own method that loops over all the participants, gets the users and joins the display names depending on the type.

[2016-06-14 15:16] vool commented on #60
Getting the same issue here.

Running v5.2.36

[2016-06-20 05:59] awh521 commented on #65
@lorvent
One to one messaging (private or direct thread)
 `$threads = Thread::forUser(Auth::id())->latest('updated_at')->with(['participants'=>function($query){
            $query->with('user')->where('user_id','<>',Auth::id());
        }])->paginate(15);`

[2016-06-20 06:01] lorvent commented on #65
thanks for that,
but still its not able to figure out who originated discussion (like in mail...you get mails into inbox, mail you sent are into sent box)

for that, database schema has to be changed.

[2016-06-21 14:55] vool commented on #60
if you are using caching

``php artisan cache:clear``

[2016-06-21 14:55] vool commented on #72
If you are using caching

php artisan cache:clear

[2016-06-24 00:39] cmgmyr opened #137 "Create artisan command to generate foreign keys"
Will adding an optional artisan command and migration file to the package make sense? Seems like we should just leave this up to the individual dev to work out.

Refs PR #131

[2016-06-24 01:17] cmgmyr commented on #126
Thanks for using the package! It sounds like you just need to use that exact method:

`$threads = Thread::forUserWithNewMessages($currentUserId)->latest('updated_at')->get();`

Will return all of the threads that have unread messages for the current user. In a one-to-one messaging app, a user has to be a participant in order to have access to the thread. Please update this ticket if you need any f

[2016-06-24 01:17] #126 closed

[2016-06-24 01:22] cmgmyr commented on #80
These changes have been tagged `2.11` along with one small API change. Please see the release notes for more info. Going to close this for now. If anyone has any issues with the update, please submit a new ticket. Thank you, everyone, for your input and work on this!

[2016-06-24 01:22] #80 closed

[2016-06-24 10:36] a-komarev commented on #137
That would be very useful in some cases.

[2016-06-24 17:14] apaleja opened #138 "BadMethodCallException 'Call to undefined method Builder::newMessagesCount()'"
any guidance to solve this error ?

`BadMethodCallException with message 'Call to undefined method Illuminate\Database\Query\Builder::newMessagesCount()'`

[2016-06-24 18:19] cmgmyr commented on #138
What version of messenger and Laravel are you running?

[2016-06-24 18:22] a-komarev commented on #138
@cmgmyr I'm not sure it's a solution, but check this comment out: #133#issuecomment-224885501

[2016-06-24 18:26] cmgmyr commented on #138
I reverted the code from that PR, so that is pretty odd. I'll take a closer look

[2016-06-24 18:37] apaleja commented on #138
@cmgmyr
Laravel 5.2
Messenger 2.11

[2016-06-24 19:58] cmgmyr commented on #138
Are you using the `unread-count.blade.php` file from the examples? That will need to be updated to use the changed method name of `newThreadsCount()`.

[2016-06-24 20:21] apaleja commented on #138
@cmgmyr Yes. you are right. I missed notes of 2.11. Thanks for the heads up. and Great Package. BTW.

[2016-06-24 20:31] cmgmyr commented on #138
No problem, glad it worked out. Thanks for using the package!

[2016-06-24 20:31] #138 closed

[2016-06-24 20:32] apaleja commented on #138
I have another question, with is not related to this error . if you could answer..

What is the best way to have one open thread with group threads (I am able to implement this based on examples. ) . Any example ?

[2016-06-25 12:18] cihadturhan commented on #55
We implemented an internal messaging module in our [private course website](http://www.derstakvimi.com) thanks to your package. Also, we made some modifications to send bulk messages to everyone.

![image](https://cloud.githubusercontent.com/assets/3739536/16356623/b3f0b6ea-3ae7-11e6-88ce-5a9d4e0ec76d.png)

[2016-06-25 13:04] cmgmyr commented on #55
Thanks for sharing @cihadturhan, the site looks great! I really like the page layout too. How did you handle the bulk notifications? Just sending out one-to-one messages to everyone from an admin user?

[2016-06-25 18:23] Naveen95 commented on #55
Any idea how much simultaneous connections it can manage ? planning to implement it on a project where tons of chats may take place.

[2016-06-26 16:32] cmgmyr commented on #55
@Naveen95 that's really up to your server infrastructure. Laravel can handle many concurrent connections. If you want more of a real-time chat, you should probably look into other technologies instead of PHP. This really depends on your project and how you want to implement it.

[2016-06-26 20:34] elchejek opened #139 "newThreadsCount()"
Hello,

i would like to implement newThreadsCount into appserviceprovider, so variable would be shared to all views - navbar, dashboard, etc. Has anyone any suggestions how to do that?

I have tried with:

but it is not working. I get  Undefined variable: countMsg.

BR
Ed

[2016-06-26 20:58] cmgmyr commented on #139
The problem is that your views are looking for this variable, which is only available if the current user is logged in. So something like this should work better:

[code]

I'd suggest looking into [View Composers](https://laravel.com/docs/5.2/views#view-composers) instead of putting this in a service provider.

[2016-06-26 20:58] #139 closed

[2016-06-26 21:00] cmgmyr commented on #138
sorry @apaleja, I'm not sure I follow - could you be more specific?

[2016-06-27 02:21] apaleja commented on #138
@cmgmyr  based on examples, I have implemented one-to-one and group chat. with this, I also want to have one Open Thread where all users can chat. what is the best way to have a Open Thread for all current users (and auto add new users) ? any examples available ?

[2016-06-27 13:31] cmgmyr commented on #138
I'd just set up two controllers - one for 1-to-1 messaging and another for group-based messaging, then have them use a shared parent controller for any shared functionality needed.

[2016-06-27 15:40] apaleja commented on #138
Thank you very much for heads up @cmgmyr .

[2016-06-30 11:53] Nulimitz opened #140 "newMessagesCount() error"
I am getting an error when i include newMessagesCount() in my navigation. I looked through the laravel/messenger models and could not see a function for that. Should it be in the user model ? or messages model ?

[2016-06-30 12:07] Nulimitz commented on #140
I am also getting an error when submitting FatalErrorException in f7c98688a4e52d91fc351ec5221978a2301053f3.php line 15: Call to undefined function link_to()

    in f7c98688a4e52d91fc351ec5221978a2301053f3.php line 15

[2016-06-30 12:24] cmgmyr commented on #140
Please look at the notes from the [latest release](https://github.com/cmgmyr/laravel-messenger/releases/tag/2.11). The API has changed for that method. The `link_to` function is from the LaravelCollective HTML package, so if you aren't using that in your project, you'll have to create the links a different way.

[2016-06-30 12:24] #140 closed

[2016-06-30 12:27] cmgmyr opened #141 "Remove LaravelCollective HTML package from example files"
No need for this dependency, which is only referenced in the readme note. Hopefully, will cut down on confusion.

[2016-06-30 13:35] Nulimitz commented on #140
Got it thank you I ended up using <a href="{{ url('messages/' . $thread->id) }}">{{ $thread->subject }}</a> Just have one minor glitch I need to figure out on the add new message form, it is not showing a username for a particular user.

[2016-07-01 09:46] theunreal opened #142 "Show a list of thread messages"
I'm using this package only as a backend (laravel is just the backend of my app) and I find it difficult to output the thread with all the thread's messages. The example show() method outputs only the thread basic information:

![image](https://cloud.githubusercontent.com/assets/6171883/16518132/dff56e4c-3f89-11e6-953f-7f6fafdffce3.png)

[2016-07-01 10:44] haheute commented on #142
In my site, this is happening:

`$thread = Thread::with('messages.user')->findOrFail($id);`

perhaps it helps

[2016-07-01 11:16] theunreal commented on #142
Awesome, Thank you!

[2016-07-01 11:16] #142 closed

[2016-07-01 21:10] avlastenok commented on #137
It's so easy to add them if you need them that it would seem like a waste of extra artisan command.

[2016-07-02 11:41] mmguide2003 opened #143 "Different server issue"
Have you had issues arise when moving from a local server to remote? All settings are the same in the package and records are being stored okay but no records are being pulled from the database on the remote server.

[2016-07-02 15:21] mmguide2003 commented on #143
Ok, not an issue with the package. Apologies

[2016-07-02 15:21] #143 closed

[2016-07-04 18:49] theunreal commented on #40
More than a year for a really important feature? |:

[2016-07-04 21:35] a-komarev commented on #40
I'm working on it, but because the lack of time progress is pretty slow :'(

Anyway, you should keep in mind that implementing such feature will drastically increase server requirements :D

[2016-07-05 08:39] Gummibeer commented on #40
Like I see here are many ways described so here is also a main logic problem like @Kryptonit3 said.

The request was "delete messages for a single user": so not archiving them, deleting the whole thread or removinjg him as a participant. These are all ways that are possible with the current setup but wasn't requested.

The only solution, I see, here would be something like @maximl337 described, bu

[2016-07-05 12:37] a-komarev commented on #40
Just a couple thoughts on the logic.

## User delete message

I can see no problems here, we are just marking specific message as deleted for specific user.

## User delete thread

Threads could be of 2 types:

- **Group thread** where with any amount of participants
- **Private thread** with only 2 participants.

### Group thread

An issue here is to understand if user wants to delete the thread

[2016-07-05 12:47] Gummibeer commented on #40
@a-komarev the *block* functionality should also be possible in the group chat - if I don't want to be part of this thread no one should force me to be.

So in main we have a list of actions possible with messages and/or threads: *archive*, *delete*, *leave*, *block*

*archive*: flag the thread as archived, don't display it in the normal list and unflag it on new messages.
*delete*: flag the messa

[2016-07-05 12:57] theunreal commented on #40
I think you take it too far atm, Actually all is needed is removing a participant from a thread. Once he is not patricpantin in a thread, it will not be displayed in his list of threads (`$user->threads()`) and when the last participant leaves - the thread will be deleted permenantly.

The block, archive and leave actions can be added later as another issue..

[2016-07-05 13:16] Gummibeer commented on #40
@theunreal but leaving a thread is possible!? This is nothing new.

[2016-07-05 13:34] maximl337 commented on #40
For the scope of this issue I think the best way would be to use a `deleted_messages` table with `user_id` and `message_id`. Then when getting messages / threads for users, omit the message ids that are in the deleted_messages table.

[2016-07-05 13:38] a-komarev commented on #40
@maximl337 it will be enough for the small projects and will be good quick solution, but later optimizations will be needed.

[2016-07-05 20:14] cmgmyr commented on #40
Thank you for giving this request a kick in the butt and for all of the additional information everyone has posted. All of the info is very helpful. I apologize for not updating this in a while - as you can see, there is much more to this than just deleting a participant of a thread, so I've had this on the backburner. I do like the idea of there being participant actions in a thread, but I want t

[2016-07-21 22:34] halnex opened #145 "Restrict package to one-to-one messaging"
Hello,

First of all, great package, great work, thank you.

I have installed it and it works perfectly.

However, if User1 sends a message to User2, User3 can see the message and participate in it by default.

So I opted to using

on the `show()` method to only show the messages related to the user directly.

However, if I login with User3 and navigate to `/messages/5` which is a private message

[2016-07-21 23:25] halnex commented on #145
I browsed the closed issues here and found a thread talking about the same issue
https://github.com/cmgmyr/laravel-messenger/issues/29

You said that we need to create our own conditions and add them to the `show()` method to prevent users seeing messages that don't belong to them.

So I went and did just that, it looks like it is working but would appreciate if you can confirm that this is the co

[2016-07-22 00:17] cmgmyr commented on #145
Yes, you can either do that or use the built-in `$thread->hasParticipant($userId)`

Thanks for using the package, I'm glad you like it!

[2016-07-22 00:17] #145 closed

[2016-07-22 08:15] Gummibeer commented on #145
If you use laravel 5 with authorization a good way would be to create a thread policy with methods like `read()` `create()` `respond()` and so on. With this you can simply check these things with the controller `authorize()` method or the `can()` one on the user Model or the `@can` Blade Tag. And if you want to add a check later simply extend the policy.

[2016-07-22 20:47] halnex opened #146 "Replace users' checkboxes with Typeahead"
Giving users the ability to select the recipient through a checkbox is not really ideal.

Suppose I have thousands of users, it would become cumbersome to search and select the recipient.

So I'm trying to replace it with Typeahead JS library: https://twitter.github.io/typeahead.js/

I noticed then whenever I send a message to another user, 2 records get created in the `participants` table, one wi

[2016-07-22 20:53] cmgmyr commented on #146
The checkboxes are just for demo/example purposes, it's really up to the dev to implement whatever they deem necessary in their own app. I'm going to leave the example files as-is for now, but I'm sure your code will help out other devs that need something similar. Thanks for your contribution!

[2016-07-22 20:53] #146 closed

[2016-07-22 21:03] halnex commented on #146
That's too bad, I'm not able to integrate it with Typeahead.

O well... thanks anyway

[2016-07-23 01:28] halnex commented on #146
I got it to work, I had to modify the MessagesController L106

Change `$input['recipients']` to `$input['user_id']`

and rename the hidden input field to `user_id[]'

[code]

[2016-07-23 18:44] KodeStar commented on #57
So a year later this is still a bug?  What is the purpose of these migrations?
from the looks of it if you have an up to date version of 5.2 according to this PR https://github.com/laravel/framework/commit/15c487fecc00c1a58837ce5692396fec78a5bd9d this should work:

$table->timestamp('last_read')->useCurrent();
or
$table->nullableTimestamps('last_read')->useCurrent();

[2016-07-23 19:42] KodeStar commented on #57
Ok, looking through the code I see the issue now, you want last_read to initially be null (as in not yet read), but do you need to update it on update as the markAsRead function sets the date anyway: $participant->last_read = new Carbon();

[2016-07-25 07:19] Gummibeer commented on #146
@halnex: there are some more problemlos, the original Checkboxen way sends an Array of IDs to allow Group Chats. In your solution you can select multiple Users in the typeahead but just the last id is stored.
Two ways to solve it:

1. Append the id comma seperated and explode in PHP
2. Clone the hidden Input everytime and keep it as an Form Array.

The next Problem is that typeahead has also optio

[2016-07-25 14:02] halnex commented on #146
@Gummibeer Thank you for your suggestions. I had no idea Typeahead was abandoned, that changes everything.

You are correct that in my solution you can only add 1 users to the chat and that's what I wanted, one-to-one private messaging without any participants.

I thought about using a searchable select field but then again what if you have thousands of users, are you gonna load them all every tim

[2016-07-25 16:18] leonardosapiras commented on #57
This bug also happens to me. Is there any chance to solve it?

[2016-07-25 16:44] cmgmyr commented on #57
I apologize for the long delay in this bug. My hesitation was how the migrations were previously laid out and not wanting to alter them. Ideally, new migrations are to be made for any new changes, but when previous changes affect new installs, it's a problem. I've opted for fixing the original migration and removing two other migration files. I have a PR right now and just waiting for the tests to

[2016-07-25 18:34] cmgmyr commented on #57
The changes are now in `master`. @leonardosapiras can you try again with `dev-master` in your composer.json file?

[2016-07-25 21:30] leonardosapiras commented on #57
@cmgmyr, with the update made in dev-master the migration worked with PostgreSQL.

Thanx and good work!

[2016-07-26 08:18] Gummibeer commented on #146
https://github.com/corejavascript/typeahead.js

And the thing with loading thousands of entries: typeahead also loads them all, you use the prefetch ;)
The only thing is that they don't load them all as html - we solved this by creating a fake select - you HAVE to use the search cause the select as it is is empty - on search we are also querying via ajax and displaying the results als select optio

[2016-07-26 09:37] halnex commented on #146
@Gummibeer I am using that typeahead library.

I suppose you are correct about typeahead fetching all the users on load, which is also a problem.

Mind sharing which multiselect library you are using?

[2016-07-26 12:03] Gummibeer commented on #146
@halnex some links for you:

* http://getbootstrapadmin.com/remark/base/ great theme with a lot of javascript plugins
* https://select2.github.io/options.html pretty select with ability to load via ajax
* http://silviomoreto.github.io/bootstrap-select/ pretty select in bootstrap style - needs custom code to handle ajax source

[2016-07-26 16:29] halnex commented on #146
@Gummibeer no need to share source code, I'll figure it out :)

Thank you for these links, that bootstrap admin looks sweet.

[2016-08-05 04:32] SamuelYute opened #149 "Need help in implementing private chat"
So I'm new to laravel and php overall...i know a few things here and there... But i love this package and i want to include a private messaging system (inbox) how can i change the thread model and participants model to enable such a feature and that index.blade.php should show user threads

[2016-08-05 07:13] Gummibeer commented on #149
You don't have to change anything on the Models. And this Question was asked and answered multiple times already - can you pls take a look in the closed issues!?

[2016-08-05 10:57] SamuelYute commented on #149
Thanks for the help...i checked

[2016-08-05 10:57] #149 closed

[2016-08-05 20:21] cmgmyr opened #150 "Refactor add/remove thread participants"
Currently, we have `addParticipants` which accepts an array, and `removeParticipant` that accepts a user id. To be more consistent, let's accept both an array or id for both methods and make sure methods are in the singular form.

[2016-08-06 00:04] a-komarev commented on #150
Just an idea:

[code]

[2016-08-06 00:12] a-komarev commented on #150
Or make it like Laravel's Illuminate Requests methods:

[code]

[2016-08-07 12:05] cmgmyr commented on #150
So far this is similar to Laravel's Request methods, but I was more modeling it after the Schema dropColumn() method. I have a branch pushed to the repo now with the changes so far.

[2016-08-08 07:26] tvzone commented on #65
this is  what i did

    /**
     * Returns threads that the user is associated with.
     *
     * @param $query
     * @param $userId
     *
     * @return mixed
     */
    public function scopeSentBy($query, $userId)
    {
        $messagesTable = Models::table('messages');
        $threadsTable = Models::table('threads');

        return $query
            ->where($messagesTable . '.user_id',

[2016-08-09 19:15] #150 closed

[2016-08-11 15:20] #57 closed

[2016-08-11 15:21] cmgmyr commented on #57
now in `2.12`

[2016-08-12 14:27] cmgmyr commented on #40
Quick update on this issue. Since soft deletes are already implemented for participants, a new method was added in [2.12](https://github.com/cmgmyr/laravel-messenger/releases/tag/2.12) to remove a participant from a thread, which should fix this initial issue. By using Laravel's default soft delete methods, a developer could write their additional actions if needed. I'm going to close this ticket

[2016-08-12 14:27] #40 closed

[2016-08-12 14:38] cmgmyr opened #153 "Add expanded Thread & Message actions"
As outlined in #40, should this package include actions for, but not limited to:
- Cleaning a thread of deleted messages
- Expanded handling of deleting a thread (soft, forceful, restore on reply, etc)
- A participant choosing to leave a thread, which would then need a re-invitation
- A participant choosing to block a thread, which would ignore a re-invitation

[2016-08-12 19:13] tvzone commented on #65
i'm currently using this :)

    /**
     * Show all sent message threads from user.
     *
     * @return mixed
     */
    public function sent()
    {
        $currentUserId = Auth::user()->id;
        $threads = Thread::forUser($currentUserId)
        ->where('messages.user_id', $currentUserId)
        ->join('messages', 'threads.id', '=', 'messages.thread_id')
        ->latest('updated_at')->

[2016-08-12 22:12] mpijierro opened #154 "Error: Call to undefined method Carbon\Carbon::all()"
Hi,

I updated Composer and updated last version of laravel-messenger.

**My config is:**
- Laravel Framework version 5.1.41 (LTS)

- Composer config:  "cmgmyr/messenger": "~2.0"   -> I do composer update and....

* Removing cmgmyr/messenger (2.11)
* Installing cmgmyr/messenger (2.12)

That is to say, I have 2.12 version.

**The error is:**
FatalThrowableError in Messagable.php line 75:
Call to un

[2016-08-13 16:03] cmgmyr commented on #154
Thanks for reporting. I'm going to look into this.

[2016-08-13 21:32] brygom opened #155 "How to implement new message count in Messagable"
Hi! please help me to implement a function in Messagable for access from unread-count.blade.php and count new messages in threads.

I already trying using `userUnreadMessagesCount($user_id)` for this way:

In Messagable i add this lines:
[code]

I giving this error:

[2016-08-14 21:53] spikerok commented on #154
This is due to recent change of lists to pluck, for some reason carbon date overrides it.

[2016-08-16 06:52] tlandn opened #156 "Compatible with Laravel 5.1"
Hi

Do you still support Laravel 5.1? Since use pluck instead of lists , the package not working anymore with 5.1.

Thanks.

[2016-08-16 07:00] Promixius commented on #156
I see what you mean, but have you thought about updating?
It's only like 5 minutes of changing a few things and you get a bunch of improvements on top of it.
Further 5.3 is only days away now with even more great additions to the framework.

[2016-08-16 07:23] tlandn commented on #156
Hi Promixius, my website is about to live , and I choose 5.1 because it's LTS. I hope my site can run 3,4 years before thinking of updating.

I want to know @cmgmyr  opinion about this. If this package only supports Laravel 5.3, then I must think of updating my site (not 5 minutes changing few things, it takes 6 months to develop my site, so you know).

[2016-08-16 07:54] a-komarev commented on #156
@tlandn You can extend and override any model you want if you require it.

[2016-08-16 07:54] Promixius commented on #156
You might have had a long development time on the project but if you look at the upgrade guide it's quite small changes you have to do, and most if not all are unlikely to affect your application.
Further LTS on 5.1 will only have bug fixes till June 2017 and security fixes till 2018 so your 3 to 4 year without upgrading should be reconsidered.

[2016-08-16 12:18] cmgmyr commented on #156
@tlandn yes, I'm certainly hoping to support all Laravel 5 versions. The pluck vs lists has come up in a different issue (#154) which I started looking into. In the meantime, you can either downgrade the package to `2.11`, or override the package files with your own. I'm hoping to have a fix done within the next day or so.

The hard part with the Laravel version changes is that I've noticed certai

[2016-08-17 00:47] tlandn commented on #156
Thank @cmgmyr , @a-komarev, @Promixius , I already decide to upgrade to 5.2 (and 5.3 later).

[2016-08-17 00:47] #156 closed

[2016-08-25 20:30] cmgmyr commented on #154
@mpijierro this should be fixed in all version of Laravel. Can you please double check on your side? You can update your `composer.json` file to point to `dev-master`. This will be officially tagged shortly.

[2016-08-28 22:19] naumanahmed19 commented on #55
any working demo ?

[2016-08-29 11:48] mpijierro commented on #154
@cmgmyr I updated to dev-master (2.12). Everything works fine again.

Thank you very much, great job!

[2016-08-29 11:48] #154 closed

[2016-08-29 18:50] bstrx opened #159 "userUnreadMessages gives 'Undefined offset: -1'"
Hello, I get errors when using userUnreadMessages having 0 messages:
[code]

in this:
[code]

[2016-08-29 20:22] cmgmyr commented on #159
Hey, thanks for reporting this. What versions of Laravel and the Messenger package are you working with?

[2016-08-29 22:25] bstrx commented on #159
@cmgmyr
2.12 Messenger and v5.2.45 laravel

[2016-08-31 20:27] cmgmyr commented on #159
@bstrx unfortunately, I wasn't able to duplicate your issue locally, but I did make a few changes that might have fixed it for you. Can you update your composer.json file to use `dev-master` and see if this fixes it?

[2016-08-31 20:32] cmgmyr commented on #55
@naumanahmed19 unfortunately, nothing "official" at the moment, but if you look at my repos you'll see a number of tests in different versions of the framework that you can pull down and play with. They all come with migrations and seeds to get you up and running.

[2016-09-01 07:57] bstrx commented on #159
@cmgmyr thanks! I will monitor dev version during the day and give a feedback

[2016-09-01 12:35] lss007 commented on #65
* Show all sent message threads from user.
 *
 * @return mixed
 */
public function sent()
{
    $currentUserId = Auth::user()->id;
    $threads = Thread::forUser($currentUserId)
    ->where('messages.user_id', $currentUserId)
    ->join('messages', 'threads.id', '=', 'messages.thread_id')
    ->latest('updated_at')->get();

    return view('messenger.index', compact('threads', 'currentUserId'));
}

[2016-09-01 14:12] Gummibeer commented on #65
@tvzone you are duplicating some checks and overcomplicating the query: I think this will be faster:

[code]

How I know `latest()` just picks the latest single entry - so not all threads - and `forUser()` and the `where()` are duplicated queries.

[2016-09-01 20:28] bstrx commented on #159
@cmgmyr it seems to be working nicely!)

[2016-09-01 20:30] cmgmyr commented on #159
@bstrx awesome! I'll be officially tagging this shortly - I'll update this issue once I do it, but I'm going to close it for now.

[2016-09-01 20:30] #159 closed

[2016-09-02 06:50] theunreal opened #160 "Error after upgrading to laravel 5.2"
![image](https://cloud.githubusercontent.com/assets/6171883/18195147/a44d1b8e-70f2-11e6-8067-270c3a556145.png)

I get the following error after upgradnidg to laravel 5.2.
The addParticipants() method not working for some reasons..

[2016-09-02 06:52] #160 closed

[2016-09-02 06:52] theunreal commented on #160
Hapenned because I didn't notice the changes in this method.

[2016-09-08 14:25] cmgmyr commented on #154
this has now been released in `2.13`

[2016-09-08 14:25] cmgmyr commented on #159
this has now been released in `2.13`

[2016-09-09 10:38] lankaen commented on #55
@cmgmyr  any idea how to developing realtime application using laravel 5.2 using sockets [ I tried vinelab/minion (built using crossbar.io) but it's not working correctly in my laravel environment ]

[2016-09-10 09:03] zanderp commented on #155
https://github.com/cmgmyr/laravel-messenger/releases/tag/2.11

[2016-09-10 09:51] nikolaynesov opened #161 "Chat messages sent at the same time"
Hi guys,

I am developing a **chat app** based on this package. The thing I am worried about is if 2 users in the same chatroom(thread) send **1 message at exactly the same time**, the same second. So bearing this in mind there are 3 questions:
1) Should I use a **milliseconds timestamp** for messages as an additional column?
2) Should I add a **unique index** on this _new column_ and _thread_id_?

[2016-09-10 16:11] a-komarev commented on #161
@nikolaynesov I have only one question why you so bothered about such precision? Can you provide use case for it?

Messages will be ordered in sequence they were written in database. So if user2 sent message on 1 millisecond earlier than user1 you will have user2 message with lower id. Isn't it enough?

[2016-09-10 16:35] a-komarev commented on #161
Take a look at [Fractional seconds in MySQL](http://dev.mysql.com/doc/refman/5.7/en/fractional-seconds.html). But I'm not sure this implemented in all other databases.

If you will add separate column for milliseconds and they will be unique then you'll need to add 1 extra digit from 0 to 9 on the end which will allow you to have 10 concurrent messages in one millisecond, this should be enough.

F

[2016-09-10 18:11] cmgmyr commented on #161
@nikolaynesov I personally think the milliseconds timestamp is a bit overkill for most applications, but if you did need to still move forward with implementing it @a-komarev's solution seems like a good one to me.

At this time I don't think adding a milliseconds timestamp would be a good addition to the package, as most applications wouldn't utilize it. I'll be sure to keep an eye out for additi

[2016-09-10 18:11] #161 closed

[2016-09-10 18:22] cmgmyr commented on #155
You can try implementing something like this (untested):

[code]

[2016-09-10 19:13] #155 closed

[2016-09-11 16:44] nikolaynesov commented on #161
@a-komarev,
Thank you for attention and advise.
May be I am missing something. I need to sort somehow the messages on frontend. It is not a problem though, but the only thing I am worried about is if 2 participants send a message at the same second how I would display them. Of course I can sort messages by ID or by created_at + ID. In this case I have to disclose message id to the user but it does

[2016-09-11 17:37] a-komarev commented on #161
@nikolaynesov yes, you can use ids to get older messages.

If you are worried about people know real IDs of the records - use `Hashids` or `Optimus`.

Then when you are trying to get older messages you need to bypass to server side masked identifier of the oldest message on your screen, decode it there and perform a query.

[2016-09-12 18:06] nikolaynesov commented on #161
@a-komarev ,

It's fine to use user ID to get older messages. But with Hashids do you think it will make an extra load on the server? Why not to use guid (uuid) as primary key (base64 encoded or in binary type)? And the main question: what are potential risks of disclosing real ids in this situation?

PS: using Hashids or GUID makes it impossible to order messages by ID&Date with js on frontend. S

[2016-09-12 18:37] a-komarev commented on #161
@nikolaynesov If you want to rely to the messages unique identifier to get older messages you'd better to use auto incremented field because UUID isn't sequenced.

If you want to use UUID\GUID instead of auto incremented id\hashids you will have additional query to get record with provided UUID, and only after it you will be able to get older records. But anyway you would have an auto incremented

[2016-09-14 01:55] Tjoosten commented on #66
@cmgmyr any update on this one?

[2016-09-14 13:59] nikolaynesov opened #162 "Send images"
Hi,

What do you think is the best way for simple images sharing in chat app using this package?
1) upload image & create new message with image name and some prefix to determine that it is image, not a simple message. It means 1 message = 1 image.
2) Separate attachments model. Upload images as attachments & attach them to some message with pivot table. 1 message + multiple images attached.
3) Us

[2016-09-14 16:06] a-komarev commented on #162
In my opinion images should be stored in external table to have manipulation capabilities and using them in other parts of the application.

[2016-09-14 18:00] cmgmyr commented on #162
I'd also go with option 2, that way you can use the attachments any way you want and also implement them throughout the app if needed - like with [Polymorphic Relations](https://laravel.com/docs/5.3/eloquent-relationships#polymorphic-relations) (adding attachments to posts, pages, etc) might be helpful.

[2016-09-14 18:00] #162 closed

[2016-09-17 18:07] schonhose opened #163 "$this->threadsWithNewMessages() returns an empty array"
The function `newThreadsCount()` in **Messagable.php** returns the number of unread messages. However, the `$this->threadsWithNewMessages()`  returns an empty array when there are no messages.

`$this->threadsWithNewMessages()->count();` does not work on an array, you will need to have use `count($this->threadsWithNewMessages());`

[2016-09-17 18:16] cmgmyr commented on #163
What version of Laravel and Messenger are you using?

[2016-09-17 18:22] schonhose commented on #163
`laravel/framework": "5.1.*`
`cmgmyr/messenger": "~2.0`

I did a `composer update` just an hour ago (before finding the issue).

[2016-09-30 20:00] schonhose commented on #163
The way I have fixed this is changing the code for the newThreadsCount to:

[code]

[2016-09-30 21:17] pvdptje commented on #163
I could be wrong, but the query builder returns a collection, which implements arrayaccess. So this should work as well:

[code]

Could you try this out and let me know?

[2016-10-11 10:39] sellegabuya commented on #55
hi @cmgmyr
can I implement multiple user level (like admin and user) in this package?

[2016-10-11 10:53] sellegabuya commented on #121
I'm also facing the same issue.
Thanks for bringing this up :)

[2016-10-11 17:10] a-komarev commented on #121
All these users are in one table? If so - you can easily display different views for different groups by getting user type (role, or group) as you named it.

[2016-10-11 17:14] a-komarev commented on #121
If you have many types of users which not sharing the same ID you can overwrite package models and add polymorphic relation instead single user.

[2016-10-11 18:10] cmgmyr commented on #121
The only way that I can see this happening is if you do what @a-komarev mentioned - overwriting package models and adding some additional relationships.

Right now I don't think handling multiple "user" models should be in the package since it's not aligned to how Laravel treats users. I'm going to close this for now, but feel free to keep the conversation going if needed.

[2016-10-11 18:10] #121 closed

[2016-10-13 11:08] cobilasadrian opened #166 "Threads by user."
Hello, I want to know if it is possible to group messages by user, not by subject ?

[2016-10-13 11:38] a-komarev commented on #166
Is this what you are looking for:

[code]

[2016-10-13 18:13] schonhose commented on #163
I updated to cmgmyr/messenger (2.13.1) and was faced with the same problem. It was a nice opportunity to test the code above.

The code provided by pvdptje works.

[2016-10-14 08:02] March3se commented on #55
I get this error when I send the message:
BadMethodCallException in Builder.php line 2440:
Call to undefined method Illuminate\Database\Query\Builder::addParticipants()

[2016-10-14 12:00] cmgmyr commented on #55
@March3se can you create a new issue with additional details? (like which version of Laravel and version of this package you're using)

[2016-10-14 12:30] cmgmyr commented on #163
@schonhose what specific version of Laravel are you using? I'm using `5.1.45` in my test repo [here](https://github.com/cmgmyr/test-messenger-laravel51) and am not running into this issue.

[2016-10-14 18:15] March3se commented on #55
Thanks for your response.

I'm using the last Laravel version (5.3) and I have used the last package version.

I get two errors:

the first when I send the message and I get the error that I sent you in the previous message.

The second when I go in the message page (index) and I get this error:

FatalErrorException in a2a91e8811658891cc7ce51649e5951e1e02bb01.php line 13:
Call to undefined functio

[2016-10-14 21:24] danieljausovec opened #167 "Get latest thread"
Hi.

I get error because i don't have field "name" in users table. How to change this to custom one or more fields? (firstname and lastname).

Error message:
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'users.name' in 'field list' (SQL: select concat(users.name) as name from `users` inner join `messenger_participants` on `users`.`id` = `messenger_participants`.`user_id` where `messenger

[2016-10-14 22:42] cmgmyr commented on #167
You can add additional column names to

[code]

[2016-10-14 22:42] #167 closed

[2016-10-14 22:52] danieljausovec opened #169 "Select threads"
Hi.

In function `participantsString()` (Model Thread) is set fixed user primary key to `id`. How to change this?
I have in user table primary key `user_id`.

Error code:
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'users.id' in 'on clause' (SQL: select concat(users.firstname, ' ', users.lastname) as name from `users` inner join `messenger_participants` on `users`.`id` = `messenger_part

[2016-10-15 20:06] #169 closed

[2016-10-15 20:07] cmgmyr commented on #169
I just merged some changes into the `master` branch to fix this. Right now you can update your `composer.json` file to look at `dev-master`. This will be included in the next release

[2016-10-15 20:09] danieljausovec commented on #169
I like it. Thanks.

[2016-10-15 20:11] cmgmyr commented on #55
@March3se please open a [new issue](https://github.com/cmgmyr/laravel-messenger/issues/new) and I'd be happy to help you out. This thread is supposed to be just for feedback

[2016-10-15 20:49] danieljausovec commented on #169
I have update plugin and get this error.

`Model.php line 765:
Class 'App\User' not found`

In config file i have set User model location

[2016-10-15 21:31] March3se opened #171 "Error with addParticipants() and link_to()"
I'm using the last Laravel version (5.3) and I have used the last package version.

I get two errors:

the first when I send the message:

[code]

The second when I go in the message page (index) and I get this error:
[code]

[2016-10-16 00:01] cmgmyr commented on #169
@danieljausovec can you do another composer update against `dev-master` again? I made a few more adjustments. Hopefully, that fixed the issue

[2016-10-16 00:14] cmgmyr commented on #171
1. `addParticipants()` should be `addParticipant()` (without the plural `s`)
2. `link_to()` is in the example files because of the use of the [laravelcollective/html](https://laravelcollective.com/docs/5.3/html) package. I mentioned this in the package readme, but you might have missed it. If you bring in this package, then this function will be available. However, if you choose not to use the pac

[2016-10-16 00:14] #171 closed

[2016-10-16 10:07] danieljausovec commented on #169
It's works. Tnx.

[2016-10-18 09:10] schonhose commented on #163
@cmgmyr I am using the same version of laravel: `5.1.45 (LTS)`.

However, my database is empty (e.g. there are no messages whatsoever).

[2016-10-18 13:20] PortgasDKiba opened #172 "Call to undefined method Illuminate\Database\Query\Builder::newThreadsCount()"
Hello,

I have this error when I'm trying to display the count of messenger.

The difference is that I use the count variable in my navbar.blade.php.

Can someone help me please ? :)

[2016-10-18 13:22] toscani commented on #172
Did you include the Trait on your model?

[2016-10-18 13:29] PortgasDKiba commented on #172
Oh my... I haven't save my User model since this morning... Thank you toscani !

[2016-10-18 13:29] #172 closed

[2016-10-18 18:28] azcoppen opened #173 "Model config not being loaded by service provider"
Driving me mad, as every time i run composer update it breaks my install.

Config has model set up as:
[code]

Model is fine. Being pulled in everywhere else.

When i run update:
[code]

Log output (local paths redacted):

[code]

Solution is always the same. Edit the service provider in setUserModel.

From:

[code]

to

[code]

[2016-10-18 18:36] cmgmyr commented on #173
hmm, have you also updated your config for `auth.providers.users.model` to point to `\Acme\Models\User::class`?

[2016-10-20 13:20] cmgmyr commented on #163
Hmm, I'm really not sure why you are getting this error. The `threadsWithNewMessages()` returns a query builder collection, which would have `->count()` available to it. In my test repo I have empty tables except for users, and I still can't come across this error.

I'm going to close this issue for now, but I'll revisit if I see a lot of others having the same issue. In the meantime, you can add

[2016-10-20 13:20] #163 closed

[2016-10-20 14:33] suchal opened #174 "Not working in Postgres - GROUPBY error in SQL syntax"
**Error:**

**Code:**
in `MessagesController`

[code]

**Environment:**
- Laravel 5.3
- Postgres SQL server on Amazon AWS
- Local environment on Laravel Homestead with everything updated to the latest version
- cmgmyr/laravel-messenger: ^2.13
- Works on mysql but with only strict mode disabled.

**How to replicate the error?**
- Change the database to postgres in .env file and provide the necessar

[2016-10-22 02:51] azcoppen commented on #173
Nope - have now. Using Sentinel so it doesn't reference the config/auth.php stuff - will test. Thank you!

[2016-10-22 02:51] #173 closed

[2016-10-28 06:00] muralidharan143 commented on #93
<?php $count = Auth::user()->newThreadsCount(); ?>
@if($count > 0)
<span class="label label-danger">{!! $count !!}</span>
@endif

Note: Insted of calling newMessageCounte(), use newThreadCount()

[2016-10-28 06:09] chinnalamahesh commented on #93
<?php $count = Auth::user()->newThreadsCount(); ?>
@if($count > 0)
{!! $count !!}
@endif

Note: Insted of calling newMessageCount(), use newThreadCount()
Here, **newThreadsCount** is the method called in both the package and controller.
you are supposed to call same method name of what declared inside the package and controller.

[2016-10-28 10:35] #166 closed

[2016-10-31 06:19] rajjanorkar commented on #55
My goal was to implement one to one messaging system using this package. I must say this is really awesome package, with little changes to example controller and created my own views and it's live in few hours.

We implemented it in [JustBeFriend.com](http://JustBeFriend.com)

[2016-11-01 04:14] muralidharan143 opened #175 "messages Count i am not getting please help me"
return $count = Sentinel::getUser()->newMessagesCount();

[2016-11-01 08:58] a-komarev commented on #175
@muralidharan143 Describe your issue more, please.

[2016-11-01 21:08] Evoolo opened #176 "Seeding database for testing"
Hi,

at first i want to thank you for that awesome package, i use it in an social network for user 2 user communication.

I want to do some penetration testing so i need to seed my threads and messages table.

It's really hard for me to figure out how to do that with threads and messages. I already seeded the user table with 50 random users. now i want to create threats and messages from every of

[2016-11-01 21:25] cmgmyr commented on #176
Hi @Evoolo, thanks for using the package! Please take a look at my testing repos for a few examples of how you can seed thread data. Just pick the repo that corresponds with the version of Laravel you're using. If you have any further questions, or need additional help, just let me know.

[2016-11-02 08:01] Evoolo commented on #176
Oh i should open my eyes. You are Awesome. Thanks, that schould do the trick.

[2016-11-02 08:01] #176 closed

[2016-11-03 12:47] cmgmyr commented on #174
@suchal thanks for reporting this, and all of the additional details - it's certainly helpful. I'm still looking into this but hopefully should have a solution soon.

[2016-11-09 18:12] dmarman commented on #78
Could somebody please put an example on how to use `scopeBetween()`? I am having a hard time to figure out what to put in the argument `$query`.

[2016-11-09 18:59] Promixius commented on #78
the argument is $query
so
scopeBetween($query) {
  return $query->where('whatever', 'whatever')->take(1);
}

[2016-11-09 22:16] dmarman commented on #78
I am sorry but I still don't understand. `scopeBetween()` is defined first with two arguments one. And second I don't know where this method should be applying to.
`$x->between($y, array(1 , 2)) ` I don't know what `$x` and `$y` should be.
If this has some kind of explanation somewhere jaut tell me and I would read it.

[2016-11-11 10:31] andrew-za commented on #60
Had the same issue and running the full command `php artisan vendor:publish --provider="Cmgmyr\Messenger\MessengerServiceProvider" --tag="config"` did not want to work for me, so I read somewhere to simply run `php artisan vendor:publish` and it worked.

[2016-11-11 22:05] cmgmyr commented on #174
@suchal can you update composer to point to `dev-bug/#174-postgres-between-fix`? Seems to be working in Homestead for me

[2016-11-12 08:16] artiumedia opened #177 "Any live demo?"
I would like to know is anyone has already set Laravel messenger, and if possible there is a live URL from where I can test it and see its functionality.

[2016-11-12 11:07] a-komarev commented on #177
@artiumedia There is no official public demo available at this moment, but you read about implementations here: https://github.com/cmgmyr/laravel-messenger/issues/55

[2016-11-12 11:18] cmgmyr commented on #177
@artiumedia you can also pull down one of the test repos, like for [Laravel 5.3](https://github.com/cmgmyr/test-messenger-laravel53), run the migrations and database seeders, and you'll get a basic working version.

I've been planning on making a demo site and maybe some videos, but just haven't gotten around to it yet. If you have any questions about the package, please let me know.

[2016-11-12 11:18] #177 closed

[2016-11-12 11:19] #175 closed

[2016-11-13 15:34] djamesfar opened #178 "Trying to implement in a Golf Clubs community site, not working in Laravel 5.3 :\"

[2016-11-13 16:27] a-komarev commented on #178
Can you describe your issue more concrete, please? Right now it's looks like: *Something isn't working.* And it could be anything... Your domain, server hardware, server software, database, Laravel itself or  Messenger package...

[2016-11-15 22:07] cmgmyr commented on #178
closing for now, will reopen if needed after more details from @djamesfar are given

[2016-11-15 22:07] #178 closed

[2016-11-17 22:16] #174 closed

[2016-11-18 10:05] jrleonr opened #180 "Removing and showing participants list"
In the MessageControllers we have this:

[code]

That will show all the users in the database except those on the participants table. This confuse me a bit. How do you don't show yourself in the participants list, if when you send your id, it's added twice. Something is not completely right but don't know what!! is the example not updated or the code itself?

Thanks!

[2016-11-20 19:23] csmind commented on #68
I have the same error now with the latest version after installing any packages using composer

`Warning: Ambiguous class resolution, "CreateThreadsTable" was found in both "$baseDir . '/database/migrations/2014_10_28_175635_create_threads_table.php" and "
C:\xampp2\htdocs\allwhispers\vendor/cmgmyr/messenger/src/migrations\2014_10_28_175635_create_threads_table.php", the first will be used.
Warnin

[2016-11-20 19:37] dmarman opened #182 "Get participant that is not you in a private thread of only two"
I find useful to get the name of the other person in a conversation one to one. I normally use it to display the name of the other participant in my "inbox" page. I couldn't find any method inside the Thread model that could do that so I wrote one for myself. This method will add the property "theOtherParticipant" when the method is called.

Let me know if something could be done better or somethi

[2016-11-21 11:26] a-komarev commented on #182
1) Wouldn't it be optimized to use `$this->participantsUserIds(Auth::id())`?

2) What will be if there are more than 2 users participate this thread?

3) I like your idea, but the name of method isn't so obvious. But I can't make any better names because PrivateParticipant is pretty complicated too.

[2016-11-22 08:56] dmarman commented on #182
Yes, I should have implemeted with `$this->participantsUserIds(Auth::id())` . I guess it should be without the Auth::id(), the method is already fetching myself into the array.

My aplication does not allow threads with more than two participants.

The name it is kind of awkward, maybe somethink like interlocutor()?

[2016-11-22 22:07] cmgmyr commented on #182
@dmarman thanks for the idea! I'm going to think on this one a bit more to see if I can come up with a more optimized option

[2016-11-30 11:23] iiCe89 opened #184 "laravel 5.3"
Can laravel-messenger be used on 5.3 ?

[2016-11-30 17:18] cmgmyr commented on #184
Yes, this works on all minor versions of 5, and also 4.2. You can also see a test repo that I use for 5.3 [here](https://github.com/cmgmyr/test-messenger-laravel53)

[2016-11-30 17:18] #184 closed

[2016-11-30 19:46] ranjan-chaurasia05 commented on #82
still not working

[2016-12-01 10:45] a-komarev commented on #82
In previous versions of Laravel, you could access session variables or the authenticated user in your controller's constructor. This was never intended to be an explicit feature of the framework. In Laravel 5.3, you can't access the session or authenticated user in your controller's constructor because the middleware has not run yet.

As an alternative, you may define a Closure based middleware di

[2016-12-02 04:41] yanseo commented on #55
I'm looking for a system where it's Admin -> many Users / one User and user -> Admin only. No messaging between users.

Does this package fit our requirement?

Thanks ;)

PS: Any real live demo would be good though

[2016-12-02 13:41] cmgmyr commented on #55
@yanseo Yes, you can use this package for that. You'd have to build the rules around who can contact who though, but the base messaging functionality would still be the same.

[2016-12-06 17:31] joshlabau commented on #182
I wrote an extension class for Thread that implements the following:

[code]
You could easily add some logic to return something different if no other participant were found, or to return the collection of other participants if you want all of them who aren't the specified user.

[2016-12-06 18:36] a-komarev commented on #182
@joshlabau What if not instance of default User will be bypassed to the method? User can overwrite User model via config.

[2016-12-07 07:29] Gummibeer commented on #182
@dmarman solving it with a scope isn't good. Scopes are for the querry builder and should get passed and Return a query builder instance.
Better way would be accessors and mutators.

Next point: settings it as a direct property of the model is also not good, attributes should be in the attributes Array and No property of the model.
To Cache the value you can put the result in the attributes array

[2016-12-07 17:45] watchwood commented on #55
How easy would it be to send system generated messages to users with this package?

[2016-12-07 18:52] Promixius commented on #55
Such functionallity is build into laravel
https://laravel.com/docs/5.3/notifications

[2016-12-09 12:26] Promixius commented on #81
@schonhose since when?
The example files are located in the example folder but beside nothing.
Instead extend the package models in your own that way you can make changes without messing anything up on composer updates

[2016-12-09 20:41] cmgmyr commented on #180
Hi @jrleonr,
If you take a look at the `update` method on the controller you'll see:

[code]

The `firstOrCreate` will just grab the current user as a participant, if the current user is a new participant, then it will get added. It will not be duplicated in the database. Make sense? Feel free to reply to this thread if you have any more questions.

[2016-12-09 20:41] #180 closed

[2016-12-09 20:49] cmgmyr commented on #68
@csmind hmm, I'm not seeing this on my 5.3 install. Can you:

1. delete the messenger migrations from `database/migrations`
2. run: `composer dump-autoload -o`
3. re-publish the migrations: `php artisan vendor:publish --provider="Cmgmyr\Messenger\MessengerServiceProvider"`
4. run: `composer dump-autoload -o`

hopefully, you shouldn't see this error anymore.

[2016-12-09 21:11] cmgmyr commented on #55
@watchwood - like @Promixius stated, notifications would be better for this. You _could_ use this package to accomplish something similar, but it's certainly not ideal (IMO)

[2016-12-11 20:51] xKairu opened #186 "Polymorphic relation instead of a set User model"
I'm currently using this package for a user <-> user messaging system, which works fine. Now I'm wanting to have different models from Laravel Spark (Teams especially) being able to message a user or a group of users.

For example:

User <-> User
Team <-> User

I tried making the change myself, but the way the user is stored as a participant rather than a direct user->message relation made it rath

[2016-12-11 20:56] a-komarev commented on #186
@xKairu I suppose you will be addressed to #121 and other related issues. This question has been raised couple of times before.

[2016-12-13 11:18] goodnesskay opened #187 "Why are all the users in the users table displayed?"
Why are all the users in the users table displayed?

[2016-12-13 13:02] a-komarev commented on #187
@goodnesskay Can you explain your issue more? Where? How are you trying to get list of users?

[2016-12-15 04:44] sujeetjaiswara opened #188 "Call to undefined method Illuminate\Database\Query\Builder::newThreadsCount()"
Hello,

I have this error when I'm trying to display the count of messenger.

Can someone help me please ? :)

`ErrorException in Builder.php line 2123:
Call to undefined method Illuminate\Database\Query\Builder::newThreadsCount()
(View: C:\xampp\htdocs\test1\resources\views\messenger\unread-count.blade.php)
(View: C:\xampp\htdocs\test1\resources\views\messenger\unread-count.blade.php)
(View: C:\x

[2016-12-15 06:12] a-komarev commented on #188
Use search, please:
- #172
- #138
- #93

[2016-12-15 06:36] sujeetjaiswara commented on #188
yes, but already used #172, #138, #93 and still have bugs.
Call to undefined method Illuminate\Database\Query\Builder::newThreadsCount()

[2016-12-15 06:37] a-komarev commented on #188
Can you show your user model then?

[2016-12-15 08:11] sujeetjaiswara commented on #188
it's solved

[2016-12-15 12:24] #188 closed

[2016-12-20 00:34] aios opened #189 "Hardcode App\User"
in Participant.php
in Models.php
in Message.php

Should use config value
v. 2.13

[2016-12-20 06:21] a-komarev commented on #189
It's using model registry:

[code]

So, it could be overrided in config `'user_model' => App\User::class,`.

[2016-12-20 07:14] a-komarev commented on #189
You can check [how it works](https://github.com/cmgmyr/laravel-messenger/blob/e8992e5d1f8617b00e0a9fcb182020366f3eb3c4/src/Cmgmyr/Messenger/Models/Models.php).

[2016-12-21 22:17] a-komarev opened #190 "Group by error on MySQL 5.7"
@cmgmyr Hello, Chris! I've found that latest MySQL version turned on `ONLY_FULL_GROUP_BY` flag by default. This is critical on latest MySQL installations.

More explanation why this could happen: http://stackoverflow.com/a/41184943

[2016-12-21 22:21] a-komarev commented on #190
It looks like problem is here:

[code]

[2016-12-21 22:50] cmgmyr commented on #190
Can you try using `dev-master`? This looks similar to the [postgres fix](https://github.com/cmgmyr/laravel-messenger/commit/9eb9f3b10b0898cd4e615f316723e4ab5aad1ca7) that hasn't been tagged yet

[2016-12-21 23:56] a-komarev commented on #190
@cmgmyr It's working, thanks!

[2016-12-21 23:56] #190 closed

[2016-12-23 14:07] #189 closed

[2016-12-23 14:07] #187 closed

[2016-12-30 09:46] goodnesskay opened #191 "Issues with restricting users in chat room"
Please can someone help? I am having issues with restricting users to only the thread they were included to. what I mean is that I want users to only see messages they were added as recipients.

[2016-12-30 13:48] a-komarev commented on #191
@goodnesskay To see threads where users are participants you mean?

Here is how you can get only threads where user is participant:

[code]

And in thread show method you can just check if user is participant and able to see thread content:

[code]

[2017-01-02 17:27] kirkegaard opened #192 "Differ between thread types"
Im currently trying to adding a type to the theads model, so that i can use the same message api but for different things.

In my community thing ill have both private person to person messaging, but also a message board like thing. The two shares many elements api wise so i think it makes sense.

So im preposing to adding a type value to threads to differ between thead types. The api could be som

[2017-01-02 18:16] a-komarev commented on #192
I think it's `Group` & `Private` chats just in other words.

[2017-01-02 18:35] kirkegaard commented on #192
Wait, so the feature already exists? My idea would support infinit types since you could just add more types on the fly

[2017-01-02 18:56] a-komarev commented on #192
@kirkegaard It's not exists... this question was raised a lot of times, but this package don't have support of it. You can override `Thread` model in your AppServiceProvider and add functionality you need.

[2017-01-02 19:17] kirkegaard commented on #192
Yes thats what im doing currently :) Wish it was part of the library though. Seems easy enough to add

[2017-01-02 19:28] a-komarev commented on #192
Seems so, but there could be some uncertain moments...

If one of participants adding third guy to private thread, should current thread change it's type to group or the new one group should be created with all 3 participants in it? As for me the new group should be created. But what if group with all 3 participants exists - should we just use it, or a new group should be created?

Group chats are

[2017-01-02 20:54] kirkegaard commented on #192
I dont think we're talking about the same thing. When im talking about private, i mean a thread between only the participants. If a third guy is added, the thread stays the same but only the persons who are participants are able to see it.

What i mean by types would be like a forum or bulletin board or conversations between multiple participants or maybe a guest log for a person or profile status

[2017-01-04 12:57] Gummibeer commented on #192
@kirkegaard just to save your ass later - don't use this message/chat package for a forum, guestbook or any other kind that's not a chat!

For a forum I recommend you the https://github.com/Riari/laravel-forum package. And simple guestbooks or things like this just need one additional model (post).

What you try doesn't sound like a good usage of this package and it will/can break your neck if thi

[2017-01-04 20:15] sidor555 commented on #55
Does it compatible with Laravel 5.3 ??

[2017-01-04 21:12] cmgmyr commented on #55
@sidor555 [yes](https://github.com/cmgmyr/test-messenger-laravel53)

[2017-01-06 20:46] cmgmyr commented on #192
@kirkegaard overriding the models will work without a problem, but like @Gummibeer stated - this package might not be the best fit for a forum application (unless it's super simple).

Adding another column to the threads works, but you could also add something like tags with a polymorphic relationship (also what @Gummibeer pointed out).

At this point, I'm not sure if it makes sense to implement a

[2017-01-06 20:46] #192 closed

[2017-01-06 20:47] #191 closed

[2017-01-06 20:59] cmgmyr commented on #186
@xKairu I haven't taken the plunge into Spark yet, but I'm assuming a `team` is just a group of `users`? If so, when a user messages a team you could grab all of the team's users, then add them as participants on the new thread, no? Once they are participants all of the team's users will be notified. The only tricky thing is when a new user is added to a team, they won't see any previous threads (

[2017-01-07 04:51] xKairu commented on #186
@cmgmyr If you're using Spark properly, then yeah that's all it is. I'm using a Team as sort of like an organization that users can follow/like (using rtconner/laravel-likeable), then the users joining the team would be the managers that can access the messaging.

I actually forked the package into my project and made the changes myself and it seems to be working fine at the moment, essentially ju

[2017-01-07 06:55] Gummibeer commented on #186
@cmgmyr even if a team ist just a collection of users, they can change over time - with polymorphic relations this is no problem, with your solution it is!
I can't/won't keep track of all join/leave actions in all related modules. So polymorphic is really a thing needed.

Other cases, in times of IoT and Co. it's possible that your car, fridge or whatever will send you something, these will be typ

[2017-01-07 11:44] sidor555 commented on #55
Hi... When I'm trying to migrate database it's showing -->  Cannot redeclare class CreateMessagesTable ..... So now what to do ??

[2017-01-07 23:24] cmgmyr opened #193 "QueryException in Messagable.php with DB Prefix"
Refs #183

DB prefix was not getting added into the raw select query

[2017-01-07 23:36] #193 closed

[2017-01-07 23:38] cmgmyr commented on #193
@michaeltintiuc this should fix the issue. Can you update your app to use `dev-master` to double check on your side? This will be tagged shortly if it works.

[2017-01-07 23:39] cmgmyr commented on #55
@sidor555 can you please open a new issue with more information?

[2017-01-08 01:39] michaeltintiuc commented on #193
@cmgmyr Yep, this fixed it. Thanks a lot, I really appreciate it!

[2017-01-17 20:31] TomHowardUK opened #195 "Incompatible trait for user model"
The trait included in the user model should be as follows (on Laravel 5.3 with Authentication):
`class User extends Authenticatable {
    use Messagable;
}`

[2017-01-24 00:37] Punith1234 opened #197 "How to use laravel messenger for real time chat with mobile platform android"

[2017-01-24 04:36] a-komarev commented on #197
You can send messages from backend to Java application via https://pusher.com/

[2017-01-25 16:18] #197 closed

[2017-01-31 16:37] pirmax opened #198 "Class 'App\User' not found"
**Class 'App\User' not found** in **mail/{id}**

My config file is:

[code]

[2017-01-31 16:40] pvdptje commented on #198
Are you 100% sure the User model is in the App folder?

[2017-01-31 16:43] pirmax commented on #198
Yes, it is.

![image](https://cloud.githubusercontent.com/assets/1739235/22474650/c8be8bc2-e7dc-11e6-85d8-c07a5213e708.png)

[2017-02-01 13:46] DeepBurner commented on #195
Can you try adding `use Cmgmyr\Messenger\Traits\Messagable;` at the start of your User.php file

[2017-02-01 13:47] DeepBurner commented on #198
Did you alter the `MessengerServiceProvider.php` file in any way?

[2017-02-01 14:00] pvdptje commented on #198
Could you paste the stacktrace as well?

[2017-02-01 15:10] cmgmyr commented on #195
@TomHowardUK are you referring to what is in the readme file?

[2017-02-01 15:12] cmgmyr commented on #198
@pirmax have you run or seen any issues with `composer dumpautoload -o`?

[2017-02-01 15:26] pirmax commented on #198
Problem solved, I deleted the line in config/app.php by mistake.

[2017-02-01 15:26] #198 closed

[2017-02-01 21:44] TomHowardUK commented on #195
Yeah @cmgmyr

[2017-02-03 01:55] HDVinnie opened #199 "Help Needed Please"
I am trying to incorporate this into my existing laravel application running laravel 4.2

I followed the instructions to a "T" here: https://github.com/cmgmyr/laravel-messenger/tree/v1
No errors where thrown. I have loaded the example Controllers, Views and used the Routes method used in Routes example. Only exceptions was editing the views to use @extends('layout.default') instead of default @ext

[2017-02-03 02:05] HDVinnie commented on #199
updated OP

[2017-02-03 13:21] cmgmyr commented on #199
@HDVinnie I don't think that this has anything to do with the package. Is there something in your other controllers, base controller, or view composer that is passing through `$pages`? I'm assuming whatever is doing that in other parts of your app isn't happening in the new `MessageController`. You could also do some additional checks for `$pages` in the view.

I'm going to close this ticket for n

[2017-02-03 13:21] #199 closed

[2017-02-03 16:03] HDVinnie opened #200 "SQL Errors"
I have implemented this into my existing laravel 4.2 project but when I create a message I get:

`SQLSTATE[42S22]: Column not found: 1054 Unknown column 'users.name' in 'field list' (SQL: select concat(users.name) as name from `users` inner join `participants` on `users`.`id` = `participants`.`user_id` where `participants`.`thread_id` = 2 and `users`.`id` != 1) (View: /home/UNIT3D/app/views/messen

[2017-02-03 16:19] HDVinnie commented on #200
sorry found my answer in #39

[2017-02-03 16:19] #200 closed

[2017-02-03 18:19] HDVinnie commented on #146
@halnex did you figure out a way to accomplish this? As the checkboxes are not optimal when you have 1,000's of users

[2017-02-03 18:28] Promixius commented on #146
Algolia

[2017-02-05 08:35] interludic opened #201 "table prefix"
Hello,

i am attempting a pull request when i find the line has already been updated,

in Messageble.php

public function threadsWithNewMessages()

$q->orWhere(Models::table('threads') . '.updated_at', '>', $this->getConnection()->raw(DB::getTablePrefix().Models::table('participants') . '.last_read'));

so how come my code i just installed is out of date?

H

[2017-02-05 21:07] cmgmyr commented on #201
my guess is that you aren't running the latest `2.13.2` version. Can you check your `composer.lock` file?

[2017-02-05 21:07] #201 closed

[2017-02-05 22:51] interludic commented on #201
"cmgmyr/messenger": "^2.13",

[2017-02-09 10:16] librallaw opened #202 "Where do I change the fields as i don not have "name" field in my users table"
Column not found: 1054 Unknown column 'users.name' in 'field list' (SQL: select concat(users.name) as name from `users` inner join `participants` on `users`.`id` = `participants`.`user_id` where `participants`.`thread_id` = 1 and `users`.`id` != 1)

[2017-02-09 10:44] cmgmyr commented on #202
please see #39

[2017-02-09 10:44] #202 closed

[2017-02-09 20:57] cmgmyr commented on #201
@interludic my bad, this was in the `v2` branch, but not tagged. I think I was going to work on a few other things before tagging, but didn't get around to it.

I've tagged `2.13.3` to fix this, so running `composer update cmgmyr/messenger` should fix. If it doesn't, please let me know.

[2017-02-09 21:04] #195 closed

[2017-02-10 04:19] interludic commented on #201
Chris dont be so hard on yourself mate your doing the best you can. Your only human ffs

[2017-02-11 12:57] #141 closed

[2017-02-14 08:50] sugo23 opened #205 "Get rid of SoftDelete in Threads and Participants"
How can I get rid of the SoftDelete in Threads and Participants?

In my case it does not make sense and I think if a user deletes something privat it really should be deleted physically...

[2017-02-14 09:02] Promixius commented on #205
forceDelete();

[2017-02-14 09:24] sugo23 commented on #205
Well, it seems I have to rewrite many of the code (and then i am unable to upgrade if a newer version is release).

eg. a user leaves a thread:
[code]

[2017-02-14 09:48] sugo23 commented on #205
Heres my quick and dirty workaround when a user leaves a thread:

[code]

[2017-02-14 09:51] Gummibeer commented on #205
@sugo23 to increase the overall speed of your app and decrease the amount of queries in one request I suggest to put the "clear" queries in a job.
This way you can dispatch this job if a user leaves a thread but don't have to do this in the request.

[2017-02-16 00:01] kevintr2 opened #206 "One thread for two participants"
Hey,

First of all thank you for this package, it's really amazing. I read the issue where you explain how to get only one thread for two participants, but the point that i don't understand is when you create a new Route (in my case /messenger/create/{$toUser}) -> how can we know, before selecting the participant who we want to send a message to, what his userid is?

Thank you

edit: ok if i under

[2017-02-16 00:52] jenellej commented on #81
Quick question, has this been pushed to the examples already?

[2017-02-16 11:46] cmgmyr commented on #205
@sugo23 it looks like your solution will work fine, but I'll second @Gummibeer's suggestion to run this in a separate job queue. I'd also take a look at TightenCo's [Quicksand](https://github.com/tightenco/quicksand), which might be able to help you out as well.

[2017-02-16 11:46] #205 closed

[2017-02-16 12:07] cmgmyr commented on #206
Thanks for using the package! I'm glad that it's helping you in your app.

Hopefully, I'm understanding this all correctly, so first when a logged in user goes to `/messenger/create/{$toUserId}`, you'll have the creator (you) as `Auth::id()` and the only other participant once you send the message getting set to `$toUserId`. In the examples, there are parts of the view to select additional partici

[2017-02-16 12:07] #206 closed

[2017-02-16 12:15] kevintr2 commented on #206
Thank you for your quick response

Ok i'll try that, you answered part of my question. In fact i want to do something like facebook, i only want one thread for 2 same persons. And i thought about, like you said, doing a check to see if a thread already exists between those 2 persons but i'm still confused about the if condition. Should i search in the threads table or participants?

[2017-02-16 16:48] cmgmyr commented on #206
You would query the `participants`, but something like this would be a lot easier...

[code]

You might want to do some additional checks and/or cleanup if there are multiple threads found

[2017-02-16 18:53] kevintr2 commented on #206
Thank you mate ! :)

[2017-02-17 15:04] HDVinnie opened #207 "Error with latest version?"
When I goto send a message to a user I get this....

BadMethodCallException in Builder.php line 2508:
Call to undefined method Illuminate\Database\Query\Builder::addParticipants()

Yet the message still sends anyway

[2017-02-17 16:58] cmgmyr commented on #207
Can you show the code you have so far?

[2017-02-17 17:19] HDVinnie commented on #207
for sure.

**MessagesController**
[code]

**Route**
[code]

**create view**
[code]

**show view**
[code]

I have only included the two views that have the option to add a participant in which results in the error.

config/app.php has provider
Cmgmyr\Messenger\MessengerServiceProvider::class,

composer.json has requirement
"cmgmyr/messenger": "~2.0",

all files and folders were published to /vendor

[2017-02-17 17:24] HDVinnie commented on #207
also let me mention while I am running Laravel 5.4 I am also running the on a server with Unbuntu 16.04, NGINX, MySQL and PHP 7.1.1

Detailed PHP Info:
PHP 7.1.1-1+deb.sury.org~xenial+1 (cli) (built: Jan 20 2017 09:20:20) ( NTS )
Copyright (c) 1997-2017 The PHP Group

[2017-02-17 20:47] cmgmyr commented on #207
Ah, looks like you might have been using an older version of the example files? The method is singular - `addParticipant()`, so removing the `s` in both spots should work. Let me know if it doesn't.

[2017-02-17 20:47] #207 closed

[2017-02-17 21:57] HDVinnie commented on #207
that was is thanks.

[2017-02-24 11:20] jenellej opened #208 "Deleting Threads"
Hi, implemeting this in my project, how would users be able to delete threads? Should, for example, the recipient decide to delete the thread, then the creator would also no longer be able to see the thread?

[2017-02-24 11:36] cmgmyr commented on #208
Hi, and thanks for using this package in your project! First, you don't really want to "delete" a thread. Participants have soft deletes enabled, so if a participant would like to remove themselves from a thread, you can just soft delete them.

If a new reply is made after some participants removed themselves, you have the option of using `$thread->activateAllParticipants()` to restore them to the

[2017-02-24 11:36] #208 closed

[2017-02-24 15:18] trotsaleksandrov opened #209 "Messenger Between Scope"
Hello!
It appears for me, while trying to use default `betweenScope` located in Thread model, it doesn't work as expected. For example, `Thread::between([1,2])` will return all the Threads where users with ids `1` and `2` are participating. Am i the one who is facing this issue? Can you provide some ideas, how to manage this?
Thanks in advance!

[2017-02-24 19:54] a-komarev commented on #209
Did you mean that it returns threads where participants are: `1, 2, 3` too?

[2017-02-24 20:21] trotsaleksandrov commented on #209
Exactly

[2017-02-24 20:25] a-komarev commented on #209
@trotsaleksandrov yeah... I've met such issue and just overrided a logic of getting the threads. You are free to extend Thread model with your own and write you own logic.

https://github.com/cmgmyr/laravel-messenger/blob/master/src/config/config.php#L11

[2017-02-24 20:40] trotsaleksandrov commented on #209
That's the problem, that's it's hard to get the threads between exact users. But anyway, thanks for help :)

[2017-02-24 20:58] a-komarev commented on #209
You can have additional column in thread there all participants will be stored as string: `1,2,3`
And when you are doing search - you can do it this string. The only thing you should to remember - always store ordered ids, because if you will save value as `1,3,2` this trick wouldn't work. And then you will need to have an index on this column.

[2017-02-25 19:14] a-komarev commented on #209
But anyway @cmgmyr should look at this issue. As for me - current behavior is bugged.

[2017-02-25 19:23] trotsaleksandrov commented on #209
Cannot but agree with you. It would be great if this functionality would be reviewed

[2017-02-25 21:08] cmgmyr commented on #209
I started to look into this yesterday but wasn't able to get far before I had to get going. I am seeing the same thing on my end and agree that it should be fixed. I'll work on it.

I'm thinking that the current functionality could be useful for some. So maybe the `between` scope should return the threads only between users 1 and 2 (as intended), but adding something like `betweenLoose` that would

[2017-02-25 21:12] trotsaleksandrov commented on #209
Maybe it is better to split existing `between` method to two: as you mentioned, something like `betweenLoose ` and as @a-komarev mentioned `betweenOnly`. Because retrieving threads that includes users 1 and 2, might also be useful

[2017-02-25 21:36] a-komarev commented on #209
@cmgmyr To make method `betweenLoose` was my first thought... but this will be breaking change.

[2017-02-25 21:48] cmgmyr commented on #209
@a-komarev yup, that's exactly what I was thinking. I've also been thinking about rewriting the whole package to be a little more user friendly and not just a bunch of models.

[2017-03-07 23:56] HDVinnie opened #212 "Question"
Does this package have a option like the Mail option in LARAVEL?

`Mail::to($topicCreator->email)->send(new NewReply($user, $topic));`

[2017-03-08 01:46] cmgmyr commented on #212
No, currently the package doesn't have anything like this built in. I've been planning the `v3` of the package and definitely want to include events and other options that developers can hook into. Pre-made mailables would be nice too. I'll make a note of this :)

[2017-03-08 01:46] #212 closed

[2017-03-08 02:14] HDVinnie commented on #212
thanks

[2017-03-14 01:09] HDVinnie opened #213 "Optimized Samples?"
Can we possible get some "more advanced" samples? The current ones provided now could use a update.

This isnt a "issue" so to say but would really help beginners like me.

http://imgur.com/a/HwjiS